@page "/Queing/Process/OVS/{Plant}/CheckOut"
@model Web.UI.Pages.Queing.Process.OVS.CheckOutModel
@using Infrastructure.Models
@{
    Layout = "_LayoutQueing";
}
@{
    ViewData["Title"] = "Check Out OVS";
    ViewData["Plant"] = Model.PlantView;

    ViewData["Breadcrumb"] = new List<BreadcrumbModel> {
        new BreadcrumbModel { Text = "Home", Link = "/Queing/Home" },
        new BreadcrumbModel { Text = "Company", Link = "/Queing/Process" },
        new BreadcrumbModel { Text = "Process", Link = $"/Queing/Process/{Model.Plant}/Process" },
        new BreadcrumbModel { Text = "Oversea (OVS)", Link = $"/Queing/Process/OVS/{Model.Plant}/Index" } ,
        new BreadcrumbModel { Text = "Check Out" }
    };

    ViewData["status"] = "3";

    ViewData["status1"] = "CHECK IN";
    ViewData["status2"] = "ASSIGN BAY";
    ViewData["status3"] = "CHECK OUT";

    ViewData["status1href"] = $"/Queing/Process/OVS/{Model.Plant}/CheckinList";
    ViewData["status2href"] = $"/Queing/Process/OVS/{Model.Plant}/AssignBay";
    ViewData["status3href"] = $"/Queing/Process/OVS/{Model.Plant}/CheckOut";
}

<style>
    .container2 {
        border-radius: 5px;
        background-color: white;
        padding: 15px;
    }

    .overlay {
        background: #f9f6f3;
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.5;
    }

    .imgloading {
        position: absolute;
        left: 50%;
        top: 80%;
        width: 5%;
    }

    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>

<div class="container2">
    <h5>CHECK OUT</h5>
    <div class="card mb-3">
        <div class="card-body">
            <form method="post">
                <table id="gridCheckOut" width="100%" class="table table-hover"></table>
            </form>
        </div>
    </div>
    <div class="row">
        <a href="/Queing/Process/OVS/@Model.Plant/Index" class="btn btn-light">
            <i class="fa fa-reply"></i> Back
        </a>
    </div>
</div>

<!-- Modal Confirm Checkout -->
<div class="modal" id="modalConfirm" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="color:green;"> <i class="fa fa-check-circle"></i> CHECK OUT Confirm </h5>
            </div>
            <div class="modal-body" id="modalConfirm_Body">
                <div class="table-responsive">
                    <form method="post" enctype="multipart/form-data" id="form_submit">
                        <table width="90%">
                            <tr>
                                <td>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">
                                            Truck ID :
                                        </label>
                                        <div class="col-sm-8">
                                            <input type="text" asp-for="TruckID" id="txtTruckID" class="form-control" readonly />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">
                                            Container No :
                                        </label>
                                        <div class="col-sm-8">
                                            <input type="text" asp-for="ContainerNo" id="txtContainerNo" class="form-control" readonly />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">
                                            Weight Out :
                                        </label>
                                        <div class="col-sm-8">
                                            <input type="text" id="txtWeightOut" asp-for="WeightOut" class="form-control" readonly />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">
                                            Weight Out Date :
                                        </label>
                                        <div class="col-sm-8">
                                            <input type="text" id="txtWeightOutDate" asp-for="WeightOutDate" class="form-control" readonly />
                                        </div>
                                    </div>

                                    <input type="hidden" asp-for="Id" class="form-control" id="txtID">
                                </td>
                            </tr>
                            <tr>

                                <td style="text-align:right;">
                                    <button type="submit" class="btn btn-success" name="checkout" value="checkout">
                                        <i class="fa fa-external-link-square"></i> &nbsp; CHECK OUT
                                    </button>

                                    <button type="button" id="btnCancel" class="btn btn-danger" data-dismiss="modal">
                                        <i class="fa fa-times"></i> &nbsp; Cancel
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Change Work Order No. -->
<div class="modal" id="modalChangeWorkOrderNo" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="color:green;"> <i class="fa fa-check-circle"></i> Change Work Order Number Confirm </h5>
            </div>
            <div class="modal-body" id="modalChangeWorkOrderNo_Body">
                <div class="table-responsive">
                    <form method="post" enctype="multipart/form-data" id="form_change">
                        <table width="90%">
                            <tr>
                                <td>
                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <label><b>Work Order Number</b></label>
                                        </div>
                                        <div class="form-group col-md-3">
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label>
                                                <span id="selecetSubWorkOrderNo" class="badge badge-light" style="cursor: pointer;">
                                                    <i class="fa fa-search"></i>
                                                    เลือกตู้
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-2">
                                            <input type="text" class="form-control" asp-for="WorkOrderNumber1" value="LSWR" readonly />
                                        </div>
                                        <div class="form-group col-md-2">
                                            <input type="text" class="form-control" asp-for="WorkOrderNumber2" id="WorkOrderNumber2" autocomplete="off" />
                                        </div>
                                        <div class="form-group col-md-2">
                                            <input type="text" class="form-control" asp-for="WorkOrderNumber3" id="WorkOrderNumber3" autocomplete="off"  pattern="[0-9]{1,6}" />
                                        </div>
                                        <div class="form-group col-md-2">
                                            <input type="text" class="form-control" asp-for="SubWorkOrderNo" id="SubWorkOrderNo" readonly />
                                        </div>
                                    </div>


                                    <input type="hidden" asp-for="IdChange" class="form-control" id="txtIDChange">
                                </td>
                            </tr>
                            <tr>

                                <td style="text-align:right;">
                                    <button type="submit" class="btn btn-success" name="change" value="change">
                                        <i class="fa fa-refresh"></i>
                                        &nbsp; Confirm Change
                                    </button>

                                    <button type="button" id="btnCancelChange" class="btn btn-danger" data-dismiss="modal">
                                        <i class="fa fa-times"></i> &nbsp; Cancel
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Sub Work Order No -->
<div class="modal" id="modalSubWoNo" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <b class="modal-title">Search Sub Work Order No</b>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalSubWoNo_Body">
                <div class="table-responsive">
                    <table id="gridSubWoNo" width="100%" class="table table-hover"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Alert -->
<div class="modal" id="modalAlert" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="color:red;"> Warning &nbsp; <i class="fa fa-exclamation-triangle"></i> </h5>
            </div>
            <div class="modal-body" id="modalAlert_Body">
                <div class="table-responsive">
                    <h4>
                        <label id="txtAlert"></label>
                    </h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    <i class="fa fa-times"></i> &nbsp; Close
                </button>
            </div>
        </div>
    </div>
</div>

@*Loading*@
<div class="overlay container-fluid">
    <img class="imgloading" src="/images/loading.gif" alt="Loading..." />
</div>

@section Scripts {
    <script>
        $(document).ready(function () {

            var gridCheckOut = "#gridCheckOut";

            var dtCheckOut = $(gridCheckOut).DataTable({
                serverSide: true,
                processing: true,
                destroy: true,
                responsive: true,
                ajax: {
                    url: "/Queing/Process/OVS/@Model.Plant/CheckOut?handler=Grid",
                    type: "post",
                    headers: {
                        "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                    }
                },
                initComplete: function () {
                    $('.dataTables_filter input').unbind();
                    $('.dataTables_filter input').on("keyup", function (e) {
                        if (e.keyCode == 13) {
                            dtCheckOut.search($(this).val()).draw();
                        }
                    });
                },
                columns: [
                    { title: "No", data: "no" },
                    { title: "Truck ID", data: "truckid" },
                    { title: "ประเภทรถ", data: "truckcatedesc" },
                    { title: "Work Order No", data: "workorderno" },
                    { title: "Status", data: "statusdetail" },
                    { title: "CheckOut", data: null },
                    { title: "Change Work Order Number", data: null }
                ],
                columnDefs: [
                    {
                        targets: 4,
                        render: function (data, type, row)
                        {
                            return "<span class='badge badge-info'> " + row.statusdetail + " </span>";
                        }
                    },
                    {
                        targets: 5,
                        sortable: false,
                        render: function (data, type, row) {
                            var link = "";
                            link += "<button type='button' class='btn btn-warning btn-sm' onclick='btnCheckOut(" + row.id + "," + row.weighid + ")'>"
                                 + "<i class='fa fa-external-link-square'></i> CHECK OUT";
                                 +  "</button>";
                            return link;
                        }
                    },
                    {
                        targets: 6,
                        sortable: false,
                        render: function (data, type, row) {
                            var link = "";
                            link += "<button type='button' class='btn btn-warning btn-sm' onclick='ChangeWorkOrderNo(" + row.id + ",\"" + row.workorderno + "\"," + row.issubworkorderno + ")'>"
                                + "<i class='fa fa-refresh'></i> Change";
                            +  "</button>";
                            return link;
                        }
                    }
                ],
            });

            $(gridCheckOut + " thead th input[type=checkbox]").on("change", function () {
                if (this.checked === true) {
                    $(gridCheckOut + " tbody input[type=checkbox]").prop("checked", true);
                } else {
                    $(gridCheckOut + " tbody input[type=checkbox]").prop("checked", false);
                }
            });

            $("body").on("keypress", function (e) {
                if (e.which === 13) e.preventDefault();
            });
        });

        function btnCheckOut(id,weighid)
        {
            $("#form_submit").trigger("reset");

            $("#txtID").val(id);

             $.ajax({
                url: "/Queing/Process/OVS/@Model.Plant/CheckOut?handler=WeightOutDetail&id=" + id +"&weighid=" + weighid + "&plant = @Model.Plant",
                type: "get"
            }).done(function (data) {
                if (data != false) {
                    $("#txtTruckID").val(data["truckid"]);
                    $("#txtWeightOut").val(data["weightout"]);
                    $("#txtWeightOutDate").val(data["weightoutdate"]);
                    $("#txtContainerNo").val(data["containerno"]);
                }
            });

            $("#modalConfirm").modal({ backdrop: "static" });
            $("#modalConfirm").show();

        }

        function ChangeWorkOrderNo(id, workorderno, issubworkorderno) {
            $("#form_change").trigger("reset");

            let str = workorderno;

            $("#WorkOrderNumber1").val(str.substring(0, 4));
            $("#WorkOrderNumber2").val(str.substring(4, 8));

            if (issubworkorderno == 1) {

                var str1 = str.substring(8);
                var str_array = str1.split('-');

                $("#WorkOrderNumber3").val(str_array[0]);
                $("#SubWorkOrderNo").val(str_array[1]);
            }
            else {
                $("#WorkOrderNumber3").val(str.substring(8));
                $("#SubWorkOrderNo").val("");
            }


            $("#txtIDChange").val(id);


            $("#modalChangeWorkOrderNo").modal({ backdrop: "static" });
            $("#modalChangeWorkOrderNo").show();
        }

        $("#form_change").submit(function (e) {

            if ($("#WorkOrderNumber2").val() == "") {
                $("#modalAlert").modal({ backdrop: "static" });
                $("#modalAlert").show();

                $('#txtAlert').text("Plase input Work order no  !!");

                return false;
            }
            if ($("#WorkOrderNumber3").val() == "") {
                $("#modalAlert").modal({ backdrop: "static" });
                $("#modalAlert").show();

                $('#txtAlert').text("Plase input Work order no  !!"); s

                return false;
            }

            $(".overlay").show();
            $('#btnChange').html("Loading...");

            document.getElementById("btnChange").disabled = true;
            document.getElementById("btnCancelChange").disabled = true;
        });

        $("#form_submit").submit(function (e)
        {
            $(".overlay").show();
            $('#btnCheckout').html("Loading...");
            document.getElementById("btnSubmit").disabled = true;
            document.getElementById("btnCancel").disabled = true;
        });

        $("#WorkOrderNumber3").on("keyup", function () {
            $("#SubWorkOrderNo").val("");
        });

        $("#selecetSubWorkOrderNo").on("click", function () {

            var txtwono1 = $("#WorkOrderNumber1").val();
            var txtwono2 = $("#WorkOrderNumber2").val();
            var txtwono3 = $("#WorkOrderNumber3").val();

            if (txtwono2 == "" || txtwono3 == "") {
                alert("กรุณาใส่ข้อมูล Work Order Number ให้ครบ");
                return false;
            }

            $("#modalSubWoNo").modal({ backdrop: "static" });
            $("#modalSubWoNo").show();

            gridSubWoNo = "#gridSubWoNo";

            $(gridSubWoNo).DataTable({
                serverSide: false,
                processing: false,
                destroy: true,
                responsive: true,
                dom: 'lrtip',
                bInfo: false,
                bLengthChange: false,
                ajax: {
                    url: "/Queing/Process/OVS/@Model.Plant/CheckOut?handler=SubWONoGrid&txtwono1=" + txtwono1 + "&txtwono2=" + txtwono2 + "&txtwono3=" + txtwono3,
                    type: "post",
                    headers: {
                        "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                    }
                },
                columns: [
                    { title: "ตู้", data: "dsgid" },
                    { title: "รายละเอียด", data: "remarks" },
                    { title: "", data: null }
                ],
                columnDefs: [
                    {
                        targets: 2,
                        render: function (data, type, row) {
                            return "<button type='button' class='btn btn-info btn-sm' " +
                                "onclick='SubWorkOrderNodata(\"" + row.dsgnum + "\")'> " +
                                "<i class='fa fa-check'></i> เลิอก" +
                                "</button>";
                        }
                    }
                ],
            });
        });

        function SubWorkOrderNodata(dsgnum) {
            $("#SubWorkOrderNo").val(dsgnum);

            $("#modalSubWoNo").modal("hide");
        }

    </script>
}