@page "/S2E/Purchase/NewRequest/{RequestID}/Edit"
@model Web.UI.Pages.S2E.Purchase.NewRequest.EditModel
@using Infrastructure.Models
@using Interfaces
@inject IAuthService authService
@{
    ViewData["Title"] = "Edit Request";

    ViewData["Breadcrumb"] = new List<BreadcrumbModel> {
        new BreadcrumbModel { Text = "S2E", Link = "javascript:void();" },
        new BreadcrumbModel { Text = "Purchase", Link = "/S2E/Purchase" },
        new BreadcrumbModel { Text = "New Request Main", Link = "/S2E/Purchase/NewRequest/Main" },
        new BreadcrumbModel { Text = "Edit Request" }
    };
}
<style>
    td {
        padding: 5px;
    }

    tr {
        text-align: right;
        vertical-align: top;
    }

    .container2 {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 10px;
    }

    .radio2 {
        width: 20px;
        height: 20px;
        padding: 15px;
    }

    .checkbox2 {
        width: 26px;
        height: 20px;
        padding: 15px;
    }

    .overlay {
        background: #f9f6f3;
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.5;
    }

    .imgloading {
        position: absolute;
        left: 50%;
        top: 80%;
        width: 5%;
    }

    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

</style>

<div class="d-flex justify-content-between align-items-center my-3">
    <h3>Edit Request </h3>
</div>
<div>

    <form method="post" enctype="multipart/form-data" id="form_submit">
        <b>Request Code : </b> @Model.Requestcode 
        <br /><br />
        <div class="container2">
            <table width="50%" align="center">
                <tr>
                    <td width="50%" style="text-align:left;">
                        <label for="rdNewItem">
                            <input type="radio" name="Process" id="rdNewItem" value="0" class="radio2" asp-for="Process" disabled />
                            <b> ไม่เปรียบเทียบวัตถุดิบ </b>
                        </label>
                    </td>
                    <td width="50%" style="text-align:left;">
                        <label for="rdCompaire">
                            <input type="radio" name="Process" id="rdCompaire" value="1" class="radio2" asp-for="Process" disabled />
                            <b> เปรียบเทียบวัตถุดิบ </b>
                        </label>
                    </td>
                </tr>
            </table>
        </div>
        <br />
        <div class="infobox hidden" id="CompairePanel">
            <div class="container2">
                <b>รายละเอียดผู้ขาย/วัตถุดิบ (ที่มีอยู่)</b>
                <table style="width:90%">
                    <tr>
                        <td width="25%">
                            รหัสผู้ขาย :
                            &nbsp;
                            <span id="selectVendorRef" class="badge badge-info"><i class="fa fa-search"></i>ค้นหา</span>
                        </td>
                        <td width="30%">
                            <div class="input-group">
                                <input type="text" asp-for="VendorIDREF" class="form-control" autocomplete="off" readonly />
                            </div>
                        </td>
                        <td width="10%"></td>
                        <td width="35%"></td>
                    </tr>
                    <tr>
                        <td> ชื่อผู้ขาย/ผู้ผลิต : <span class="text-danger font-weight-bold">*</span></td>
                        <td colspan="3">
                            <div class="input-group">
                                <input type="text" asp-for="SupplierNameREF" class="form-control" autocomplete="off"  />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td> ตัวแทนจำหน่าย : <span class="text-danger font-weight-bold">*</span></td>
                        <td colspan="3">
                            <div class="input-group">
                                <input type="text" asp-for="DealerREF" class="form-control" autocomplete="off" readonly />
                            </div>
                        </td>
                        
                    </tr>
                    <tr>
                        <td> แหล่งผลิต : <span class="text-danger font-weight-bold">*</span></td>
                        <td>
                            <div class="input-group">
                                <input type="text" asp-for="ProductionSiteREF" class="form-control" autocomplete="off" />
                            </div>
                        </td>
                        <td> ที่อยู่ของตัวแทนจำหน่าย : <span class="text-danger font-weight-bold">*</span></td>
                        <td>
                            <div class="input-group">
                                <textarea asp-for="DealerAddressREF" rows="2" style="white-space:normal;display:block;"
                                          autocomplete="off" class="form-control"></textarea>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Item Code : <span class="text-danger font-weight-bold">*</span>
                            &nbsp;
                            <span id="selectItem" class="badge badge-info"><i class="fa fa-search"></i>ค้นหา</span>
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" asp-for="ItemCodeREF" class="form-control" autocomplete="off" readonly />
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td> Item Name : <span class="text-danger font-weight-bold">*</span></td>
                        <td colspan="3">
                            <div class="input-group">
                                <input type="text" asp-for="ItemNameREF" class="form-control" autocomplete="off" readonly />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td> ราคา : <span class="text-danger font-weight-bold">*</span></td>
                        <td>
                            <table width="100%">
                                <tr>
                                    <td width="40%">
                                        <input type="text" asp-for="PriceREF" class="form-control"
                                               onkeyup="this.value=addCommas(this.value);" autocomplete="off" asp-format="{0:#,##0.#0}" />
                                    </td>
                                    <td width="20%"> / หน่วย : </td>
                                    <td width="40%">
                                        <select asp-for="PerUnitREF" asp-items="Model.PerUnitREFMaster" class="form-control">
                                            <option value="">- SELECT -</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td> Currency : <span class="text-danger font-weight-bold">*</span></td>
                        <td>
                            <select asp-for="CurrencyCodeREF" asp-items="Model.CurrencyCodeREFMaster" class="form-control">
                                <option value="">--- SELECT ---</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <br />
        </div>
        <div class="infobox hidden" id="NewItemPanel">
            <div class="container2">
                <b>รายการวัตถุดิบที่นำเข้า / นำมาเปรียบเทียบ</b>
                <table style="width:90%">
                    <tr>
                        <td width="25%">
                            รหัสผู้ขาย :
                            &nbsp;
                            <span id="selectVendor" class="badge badge-info"><i class="fa fa-search"></i>ค้นหา</span>
                        </td>
                        <td width="30%">
                            <div class="input-group">
                                <input type="text" asp-for="VendorID" class="form-control" autocomplete="off" />
                            </div>
                        </td>
                        <td width="10%"></td>
                        <td width="35%"></td>
                    </tr>
                    <tr>
                        <td> ชื่อผู้ขาย/ผู้ผลิต : <span class="text-danger font-weight-bold">*</span></td>
                        <td colspan="3">
                            <div class="input-group">
                                <input type="text" asp-for="SupplierName" class="form-control" autocomplete="off" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td> ตัวแทนจำหน่าย : <span class="text-danger font-weight-bold">*</span></td>
                        <td colspan="3">
                            <div class="input-group">
                                <input type="text" asp-for="Dealer" class="form-control" autocomplete="off" />
                            </div>
                        </td>
                        
                    </tr>
                    <tr>
                        <td> แหล่งผลิต : <span class="text-danger font-weight-bold">*</span></td>
                        <td>
                            <div class="input-group">
                                <input type="text" asp-for="ProductionSite" class="form-control" autocomplete="off" />
                            </div>
                        </td>
                        <td> ที่อยู่ของตัวแทนจำหน่าย : <span class="text-danger font-weight-bold">*</span></td>
                        <td>
                            <div class="input-group">
                                <textarea asp-for="DealerAddress" rows="2" style="white-space:normal;display:block;"
                                          autocomplete="off" class="form-control"></textarea>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Item Code :
                        </td>
                        <td>
                            <div class="input-group">
                                <input type="text" asp-for="ItemCode" class="form-control" autocomplete="off" readonly />
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td> Item Name : <span class="text-danger font-weight-bold">*</span></td>
                        <td colspan="3">
                            <div class="input-group">
                                <input type="text" asp-for="ItemName" class="form-control" autocomplete="off" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td> ราคา : </td>
                        <td>
                            <table width="100%">
                                <tr>
                                    <td width="40%">
                                        <input type="text" asp-for="Price" class="form-control"
                                               onkeyup="this.value=addCommas(this.value);" autocomplete="off" asp-format="{0:#,##0.#0}" />
                                    </td>
                                    <td width="20%"> / หน่วย : </td>
                                    <td width="40%">
                                        <select asp-for="PerUnit" asp-items="Model.PerUnitMaster" class="form-control">
                                            <option value="">- SELECT -</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td> Currency : <span class="text-danger font-weight-bold">*</span></td>
                        <td>
                            <select asp-for="CurrencyCode" asp-items="Model.CurrencyCodeMaster" class="form-control">
                                <option value="">--- SELECT ---</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="infobox hidden" id="submitPanel">
            <br />
            <div class="container2">
                <b>Upload File</b>
                <br />
                <table id="gridViewFileUpload" style="text-align:left;" width="50%" class="table table-hover"></table>
                <br />
                <table width="60%" id="UploadTable" align="left">
                    <tr style="text-align: left;">
                        <th>File Upload</th>
                        <th>Delete</th>
                    </tr>
                    <tr style="text-align: left;" id="tablerow0">
                        <td width="80%">
                            <input type="file" id="f0" name="FileUpload" style="width:90%;" />
                        </td>
                        <td width="20%">
                            <button type="button" class="btn btn-danger" id="b0" onclick="removeTr(0);"> ลบ </button>
                        </td>
                    </tr>
                    <tr style="text-align: left;" id="tablerow1">
                        <td width="80%">
                            <input type="file" id="f1" name="FileUpload" style="width:90%;" />
                        </td>
                        <td width="20%">
                            <button type="button" class="btn btn-danger" id="b1" onclick="removeTr(1);"> ลบ </button>
                        </td>
                    </tr>
                </table>
                <table width="70%">
                    <tr>
                        <td style="text-align:right;">
                            <button type="button" class="btn btn-primary" id="add"><i class="fa fa-plus"> เพิ่มไฟล์ </i></button>
                        </td>
                    </tr>
                </table>
            </div>
            <br />
            <br />
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="form-group">
                        <button type="submit" class="btn btn-secondary mr-3" name="draft" value="draft" onclick="return confirm('ต้องการบันทึกข้อมูลใช่หรือไม่?')">
                            <i class="fa fa-file"></i>
                            Save Draft
                        </button>
                        <button type="submit" class="btn btn-success mr-3" id="btn_submit" name="save" value="save" onclick="return confirm('ต้องการบันทึกข้อมูลใช่หรือไม่?')">
                            <i class="fa fa-check"></i>
                            Submit
                        </button>
                        <button type="button" id="btnReset" class="btn btn-danger">
                            <i class="fa fa-times"></i>
                            ยกเลิก
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@*Loading*@
<div class="overlay container-fluid">
    <img class="imgloading" src="/images/loading.gif" alt="Loading..." />
</div>

@* Model Vendor *@
<div class="modal" id="modalVendor" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Search Vendor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align:left">
                <form method="post">
                    <div class="table-responsive">
                        <table id="gridVendor" style="text-align:left;" class="table table-hover"></table>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

@* Model Vendor Ref *@
<div class="modal" id="modalVendorRef" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Search Vendor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align:left">
                <form method="post">
                    <div class="table-responsive">
                        <table id="gridVendorRef" style="text-align:left;" class="table table-hover"></table>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

@* Model Item *@
<div class="modal" id="modalItem" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Search Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align:left">
                <form method="post">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="form-group">
                                <table width="30%" align="center">
                                    <tr>
                                        <td width="30%">
                                            <label for="RM">
                                                <input type="radio" id="RM" name="ItemGroup" value="RM" class="radio2">
                                                <b>Raw Material <span class="text-danger font-weight-bold">*</span></b>
                                            </label>
                                        </td>
                                        <td>
                                            <label for="FS">
                                                <input type="radio" id="FS" name="ItemGroup" value="FS" class="radio2">
                                                <b>Factory Supply <span class="text-danger font-weight-bold">*</span></b>
                                            </label>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="gridItem" style="text-align:left;" class="table table-hover"></table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>

        var rdCheck = @Model.Process;

        if (rdCheck == "1") {
            $('#NewItemPanel').show();
            $('#CompairePanel').show();
            $('#submitPanel').show();

            document.getElementById("rdNewItem").checked = false;
            document.getElementById("rdCompaire").checked = true;
        }
        else {
            $('#NewItemPanel').show();
            $('#CompairePanel').hide();
            $('#submitPanel').show();

            document.getElementById("rdNewItem").checked = true;
            document.getElementById("rdCompaire").checked = false;
        }

        var counter = 2;
        $("#add").click(function () {

            $('<tr style="text-align: left;" id="tablerow' + counter + '">' +
                '<td width="80%">' +
                '<input type="file" id="f' + counter + '" name="FileUpload" style="width:90%;" />' +
                '</td>' +
                '<td>' +
                '<button type="button" class="btn btn-danger" id="b' + counter + '" onclick="removeTr(' + counter + ');"> ลบ </button>' +
                '</td>' +
                '</tr>').appendTo('#UploadTable');

            counter++;

            return false;
        });

        function removeTr(index) {
            if (counter > 1) {
                $('#tablerow' + index).remove();
                counter--;
            }
            return false;
        }

        $("#form_submit").submit(function (e) {
            if (rdCheck == "1") {
                if ($("#VendorIDREF").val() == "" ||
                    $("#SupplierNameREF").val() == "" ||
                    $("#DealerREF").val() == "" ||
                    $("#ProductionSiteREF").val() == "" ||
                    $("#DealerAddressREF").val() == "" ||
                    $("#ItemCodeREF").val() == "" ||
                    $("#ItemNameREF").val() == "" ||
                    $("#PriceREF").val() == "" ||
                    $("#PriceREF").val() == "0" ||
                    $("#SupplierName").val() == "" ||
                    $("#Dealer").val() == "" ||
                    $("#ProductionSite").val() == "" ||
                    $("#DealerAddress").val() == "" ||
                    $("#ItemName").val() == "" ||
                    $("#CurrencyCodeREF").val() == "" ||
                    $("#CurrencyCode").val() == "") {

                    alert("กรุณาใส่ข้อมูลที่มี * ให้ครบ");

                    return false;
                }
                else if ($("#CurrencyCodeREF").val() != $("#CurrencyCode").val()) {
                    alert("Currency Code ต้องมีค่าเหมือนกัน");
                    return false;
                }
                else {
                    $(".overlay").show();
                    $('#btn_submit').html("Submit...");

                }
            }
            else if (rdCheck == "0") {
                if ($("#SupplierName").val() == "" ||
                    $("#Dealer").val() == "" ||
                    $("#ProductionSite").val() == "" ||
                    $("#DealerAddress").val() == "" ||
                    $("#ItemName").val() == "" ||
                    $("#CurrencyCode").val() == "") {

                    alert("กรุณาใส่ข้อมูลที่มี * ให้ครบ");

                    return false;

                }
                $(".overlay").show();
                $('#btn_submit').html("Submit...");
            }

        });

        $("#btnReset").click(function (e) {

            if (rdCheck == "1") {
                $('#NewItemPanel').show();
                $('#CompairePanel').show();
                $('#submitPanel').show();
                document.getElementById("rdNewItem").checked = false;
                document.getElementById("rdCompaire").checked = true;
            }
            else {
                $('#NewItemPanel').show();
                $('#CompairePanel').hide();
                $('#submitPanel').show();

                document.getElementById("rdNewItem").checked = true;
                document.getElementById("rdCompaire").checked = false;
            }
            clearNewPanel();
            clearCompairePanel();

            $(":file[name=FileUpload]").val("");
        });

        function clearNewPanel() {
            $("#VendorID").val("");
            $("#SupplierName").val("");
            $("#Dealer").val("");
            $("#ProductionSite").val("");
            $("#DealerAddress").val("");
            $("#ItemCode").val("");
            $("#ItemName").val("");
            $("#Price").val("");
            $("#CurrencyCode").val("");

        };

        function clearCompairePanel() {
            $("#VendorIDREF").val("");
            $("#SupplierNameREF").val("");
            $("#DealerREF").val("");
            $("#ProductionSiteREF").val("");
            $("#DealerAddressREF").val("");
            $("#ItemCodeREF").val("");
            $("#ItemNameREF").val("");
            $("#PriceREF").val("");
            $("#CurrencyCodeREF").val("");

        };

        $(document).ready(function () {
            $("#selectVendorRef").on("click", function () {

                var VendID = $("#VendorID").val();
                var url = "";
                if (VendID == "") {
                    url = "/S2E/Purchase/NewRequest/Create?handler=VendorGrid&VendID=''";
                }
                else {
                    url = "/S2E/Purchase/NewRequest/Create?handler=VendorGrid&VendID=" + VendID;
                }

                var gridVendorRef = "#gridVendorRef";
                $("#modalVendorRef").modal({ backdrop: "static" });

                var dtVendorRef = $(gridVendorRef).DataTable({
                    serverSide: true,
                    processing: true,
                    destroy: true,
                    responsive: false,
                    ajax: {
                        url: url,
                        type: "post",
                        headers: {
                            "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                        }
                    },
                    initComplete: function () {
                        $('.dataTables_filter input').unbind();
                        $('.dataTables_filter input').on("keyup", function (e) {
                            if (e.keyCode == 13) {
                                dtVendorRef.search($(this).val()).draw();
                            }
                        });
                    },
                    columns: [
                        { title: "Vendor Group", data: "vendgroup" },
                        { title: "Vendor ID", data: "accountnum" },
                        { title: "Vendor Name", data: "name" },
                        { title: "Action", data: null }
                    ],
                    columnDefs: [
                        {
                            targets: 3,
                            render: function (data, type, row) {
                                var link = "";
                                link += "<button type='button' class='btn btn-info' onclick='selectVendorRef(\"" + row.accountnum + "\", \"" + row.name + "\")'><i class='fa fa-check'></i> เลือก</button>";
                                return link;
                            }
                        }
                    ],
                });

                $("body").on("keypress", function (e) {
                    if (e.which === 13) e.preventDefault();
                });

            });

        });

        function selectVendorRef(accountnum, name) {

            $("#VendorIDREF").val(accountnum);
            $("#DealerREF").val(name);

            $("#modalVendorRef").modal("hide");
        }

        $(document).ready(function () {
            $("#selectItem").on("click", function () {
                $("#modalItem").modal({ backdrop: "static" });
            });

            $(":radio[name=ItemGroup]").on("change", function () {
                var val = $(this).val();

                if (val == "") {
                    alert("กรุณาเลือก Item Group ก่อน (RM,FS)");
                }
                else {
                    var gridItem = "#gridItem";
                    $("#modalItem").modal({ backdrop: "static" });

                    var dtItem = $(gridItem).DataTable({
                        serverSide: true,
                        processing: true,
                        destroy: true,
                        responsive: false,
                        ajax: {
                            url: "/S2E/Purchase/NewRequest/Create?handler=ItemGrid&ItemGroup=" + val,
                            type: "post",
                            headers: {
                                "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                            }
                        },
                        initComplete: function () {
                            $('.dataTables_filter input').unbind();
                            $('.dataTables_filter input').on("keyup", function (e) {
                                if (e.keyCode == 13) {
                                    dtItem.search($(this).val()).draw();
                                }
                            });
                        },
                        columns: [
                            { title: "Item ID", data: "itemid" },
                            { title: "Item Name", data: "itemname" },
                            { title: "Action", data: null }
                        ],
                        columnDefs: [
                            {
                                targets: 2,
                                render: function (data, type, row) {
                                    var link = "";
                                    link += "<button type='button' class='btn btn-info' onclick='selectItem(\"" + row.itemid + "\", \"" + row.itemname + "\")'><i class='fa fa-check'></i> เลือก</button>";
                                    return link;
                                }
                            }
                        ],
                    });

                    $("body").on("keypress", function (e) {
                        if (e.which === 13) e.preventDefault();
                    });
                }
            });

        });

        function selectItem(itemid, itemname)
        {
            $("#ItemCodeREF").val(itemid);
            $("#ItemNameREF").val(itemname);
            $("#ItemCode").val(itemid);

            $("#modalItem").modal("hide");
        }

        $(document).ready(function () {
            $("#selectVendor").on("click", function () {
                var VendID = $("#VendorIDREF").val();
                var url = "";
                if (VendID == "") {
                    url = "/S2E/Purchase/NewRequest/Create?handler=VendorGrid&VendID=''";
                }
                else {
                    url = "/S2E/Purchase/NewRequest/Create?handler=VendorGrid&VendID=" + VendID;
                }

                var gridVendor = "#gridVendor";
                $("#modalVendor").modal({ backdrop: "static" });

                var dtVendor = $(gridVendor).DataTable({
                    serverSide: true,
                    processing: true,
                    destroy: true,
                    responsive: false,
                    ajax: {
                        url: url,
                        type: "post",
                        headers: {
                            "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                        }
                    },
                    initComplete: function () {
                        $('.dataTables_filter input').unbind();
                        $('.dataTables_filter input').on("keyup", function (e) {
                            if (e.keyCode == 13) {
                                dtVendor.search($(this).val()).draw();
                            }
                        });
                    },
                    columns: [
                        { title: "Vendor Group", data: "vendgroup" },
                        { title: "Vendor ID", data: "accountnum" },
                        { title: "Vendor Name", data: "name" },
                        { title: "Action", data: null }
                    ],
                    columnDefs: [
                        {
                            targets: 3,
                            render: function (data, type, row) {
                                var link = "";
                                link += "<button type='button' class='btn btn-info' onclick='selectVendor(\"" + row.accountnum + "\", \"" + row.name + "\")'><i class='fa fa-check'></i> เลือก</button>";
                                return link;
                            }
                        }
                    ],
                });
                
                $("body").on("keypress", function (e) {
                    if (e.which === 13) e.preventDefault();
                });

            });

        });

        function selectVendor(accountnum, name) {

            $("#VendorID").val(accountnum);
            $("#Dealer").val(name);

            $("#modalVendor").modal("hide");
        }

        $(document).ready(function () {

            var gridViewFileUpload = "#gridViewFileUpload";

            var dtViewFileUpload = $(gridViewFileUpload).DataTable({
                serverSide: false,
                processing: false,
                destroy: false,
                responsive: true,
                dom: 'lrtip',
                bInfo: false,
                bLengthChange: false,
                ajax: {
                    url: "/S2E/Purchase/NewRequest/@Model.RequestId/Edit?handler=GridViewFileUpload&RequestID=@Model.RequestId",
                    type: "post",
                    headers: {
                        "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                    }
                },
                columns: [
                    { title: "FILE NAME", data: "filename" },
                    { title: "UPLOADDATE", data: "createdate" },
                    { title: "Download", data: null },
                    { title: "Delete", data: null }
                ],
                columnDefs: [
                    {
                        targets: 2,
                        render: function (data, type, row) {
                            return actionLink("/S2E/Purchase/NewRequest/@Model.RequestId/Edit?handler=DownloadFileUpload&RequestID=@Model.RequestId&Fileid=" + row.id, "fa fa-download", "<span> Download </span>");
                         }
                    },
                    {
                        targets: 3,
                        render: function (data, type, row) {
                            var link = "";
                            link += "<button type='button' class='btn btn-danger' onclick='return del(" + row.id + ")'><i class='fa fa-close'></i></button>";
                            return link;
                         }
                    }
                ]
            });
        });

        function del(id) {

            $.ajax({
                url: "/S2E/Purchase/NewRequest/@Model.RequestId/Edit?handler=DelelteFile&Fileid=" + id,
                type: "get"
            }).done(function (data) {
                if (data == true) {
                    reloadGrid(gridViewFileUpload);
                }
            });

            return false;

        }

        $("#CurrencyCodeREF").change(function () {
            var val = $("#CurrencyCodeREF").val();
            $("#CurrencyCode").val("");
            $("#CurrencyCode").val(val);
        });

        function addCommas(Num) {
            if (event.key == "1" || event.key == "2" || event.key == "3" || event.key == "4" ||
                event.key == "5" || event.key == "6" || event.key == "7" || event.key == "8" ||
                event.key == "9" || event.key == "0" || event.key == "." ||
                event.key == "Backspace" || event.key == "Tab" || event.key == "Delete" ||
                event.key == "Del" || event.key == "ArrowUp" || event.key == "ArrowLeft" ||
                event.key == "ArrowDown" || event.key == "ArrowRight" || event.key == "Up" ||
                event.key == "Left" || event.key == "Down" || event.key == "Right") {
                Num += '';
                Num = Num.replace(/,/g, '');

                x = Num.split('.');
                x1 = x[0];
                x2 = x.length > 1 ? '.' + x[1] : '';
                var rgx = /(\d+)(\d{3})/;
                while (rgx.test(x1))
                    x1 = x1.replace(rgx, '$1' + ',' + '$2');
                return x1 + x2;
            }
            else {
                alert("ใส่ได้เฉพาะตัวเลข");
                return "0";
            }
        }


    </script>
}