@page
@model Web.UI.Pages.S2E.Purchase.NewRequest.MainModel
@using Infrastructure.Models
@{
    ViewData["Title"] = "New Request Page";

    ViewData["Breadcrumb"] = new List<BreadcrumbModel> {
        new BreadcrumbModel { Text = "S2E", Link = "javascript:void();" },
        new BreadcrumbModel { Text = "Purchase", Link = "/S2E/Purchase" },
        new BreadcrumbModel { Text = "New Request Main" }
    };
}
<div class="d-flex justify-content-between align-items-center my-3">
    <h1>Main Request</h1>
    <div>
        <a class="btn btn-primary" href="/S2E/Purchase/NewRequest/Create"><i class="fa fa-plus"></i> New Request</a>
    </div>
</div>

<form method="post">
    <table id="gridList" width="100%" class="table table-hover"></table>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {

            var gridList = "#gridList";

            var dtList = $(gridList).DataTable({
                serverSide: true,
                processing: true,
                destroy: true,
                responsive: true,
                ajax: {
                    url: "/S2E/Purchase/NewRequest/Main?handler=Grid",
                    type: "post",
                    headers: {
                        "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                    }
                },
                initComplete: function () {
                    $('.dataTables_filter input').unbind();
                    $('.dataTables_filter input').on("keyup", function (e) {
                        if (e.keyCode == 13) {
                            dtList.search($(this).val()).draw();
                        }
                    });
                },
                columns: [
                    { title: "ID", data: "id" },
                    { title: "REQUEST CODE", data: "requestcode" },
                    { title: "REQUEST NO", data: "requestno" },
                    { title: "SUPPLIER NAME", data: "suppliername" },
                    { title: "Request By", data: "requestby" },
                    { title: "Status", data: "approvestatus" },
                    { title: "Action", data: null }
                ],
                columnDefs: [
                    {
                        targets: 0,
                        visible: false
                    },
                    {
                        targets: 5,
                        render: function (data, type, row) {

                            if (row.approvestatus === 2) {
                                return "<span class='badge badge-dark'>Cancel</span>";
                            }
                            if (row.approvestatus === 3) {
                                return "<span class='badge badge-info'>Waiting For Approve</span>";
                            }
                            if (row.approvestatus === 4) {
                                return "<span class='badge badge-danger'>Reject</span>";
                            }
                            if (row.approvestatus === 8) {
                                return "<span class='badge badge-secondary'>Draft</span>";
                            }
                            if (row.approvestatus === 9) {
                                return "<span class='badge badge-warning'>More Detail</span>";
                            }
                        }
                    },
                    {
                        targets: 6,
                        render: function (data, type, row) {
                            var link = "";

                            link += actionLink("/S2E/Purchase/NewRequest/" + row.id + "/" + row.approvegroupid + "/" + row.approvestatus + "/ApproveTrans", "fa fa-list", "Approve Transaction");                      

                            link += actionLink("/S2E/Purchase/NewRequest/" + row.id + "/ViewInfo", "fa fa-eye", "View");

                            if (row.approvestatus === 4 || row.approvestatus === 8 || row.approvestatus === 9) {
                                link += actionLink("/S2E/Purchase/NewRequest/" + row.id + "/Edit", "fa fa-pencil-square-o", "Edit");
                            }
                            @*if (row.approvestatus === 4 || row.approvestatus === 8) {}*@
                            link += actionLink("/S2E/Purchase/NewRequest/" + row.id + "/0/Cancel", "fa fa-ban", "Cancel");

                            return link;
                        }
                    }
                ],
            });

            $(gridList + " thead th input[type=checkbox]").on("change", function () {
                if (this.checked === true) {
                    $(gridList + " tbody input[type=checkbox]").prop("checked", true);
                } else {
                    $(gridList + " tbody input[type=checkbox]").prop("checked", false);
                }
            });

            $("body").on("keypress", function (e) {
                if (e.which === 13) e.preventDefault();
            });

        });
    </script>
}