@page
@model Web.UI.Pages.Queing.Master.All.BayModel
@using Interfaces
@using Infrastructure.Models

@inject IAuthService authService

@{
    Layout = "_LayoutQueing";
}
@{
    ViewData["Title"] = "BAY";
    ViewData["status"] = "0";

    ViewData["Breadcrumb"] = new List<BreadcrumbModel> {
        new BreadcrumbModel { Text = "Queing", Link = "/Queing/Home" },
        new BreadcrumbModel { Text = "Master ALL", Link = "/Queing/Master/All" },
        new BreadcrumbModel { Text = "Bay" }
    };
}

<style>
    .container2 {
        border-radius: 5px;
        background-color: white;
        padding: 10px;
    }

    .table_modal {
        padding: 5px;
        width: 100%;
        text-align: right;
    }

        .table_modal tr {
            padding: 5px;
            vertical-align: top;
        }

    .overlay {
        background: #f9f6f3;
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.5;
    }

    .imgloading {
        position: absolute;
        left: 50%;
        top: 80%;
        width: 5%;
    }

    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>

<div class="container2">
    <div class="card mb-3">
        <div class="card-header">
            <span>Bay Master</span>
        </div>
        <div class="card-body">
            <div class="mb-3">
                <button class="btn btn-outline-primary" id="btnAdd">
                    <i class="fa fa-user-plus"></i>
                    Add New Bay
                </button>
            </div>
            <form method="post">
                <table id="gridView" width="100%" class="table table-hover"></table>
            </form>
        </div>
    </div>
</div>

@*Modal Add*@
<div class="modal" tabindex="-1" id="modalAdd">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Bay</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data" id="form_add">
                    <div class="form-group row">
                        <label for="ddlPlant" class="col-sm-3 col-form-label">PLANT : </label>
                        <div class="col-sm-7">
                            <select class="form-control" id="ddlPlant" asp-for="Plant_Add" asp-items="Model.PlantAddMaster">
                                <option value="0"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="txtBay_Add" class="col-sm-3 col-form-label">BAY : </label>
                        <div class="col-sm-7">
                            <input type="text" asp-for="Bay_Add" class="form-control" id="txtBay_Add" autocomplete="off">
                        </div>
                    </div>
                    <fieldset class="form-group row">
                        <legend class="col-form-label col-sm-3 float-sm-left pt-0">isDOM ? : </legend>
                        <div class="col-sm-7">
                            <div class="form-check">
                                <input type="checkbox" asp-for="IsDOM_Add" name="IsDOM_Add"
                                       id="IsDOM_Add" value="1" class="form-check-input" />

                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group row">
                        <legend class="col-form-label col-sm-3 float-sm-left pt-0">isOVS ? : </legend>
                        <div class="col-sm-7">
                            <div class="form-check">
                                <input type="checkbox" asp-for="IsOVS_Add" name="IsOVS_Add"
                                       id="IsOVS_Add" value="1" class="form-check-input" />

                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="form-group row">
                        <legend class="col-form-label col-sm-3 float-sm-left pt-0">isActive : </legend>
                        <div class="col-sm-7">
                            <div class="form-check">
                                <input type="radio" asp-for="IsActive_Add" name="IsActive_Add"
                                       id="IsActive_Add1" value="1" class="form-check-input" />
                                <label class="form-check-label" for="IsActive_Add1">
                                    Yes
                                </label>
                            </div>
                            <div class="form-check">
                                <input type="radio" asp-for="IsActive_Add" name="IsActive_Add"
                                       id="IsActive_Add2" value="2" class="form-check-input" />
                                <label class="form-check-label" for="IsActive_Add2">
                                    No
                                </label>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group row">
                        <div class="col-sm-10 text-right">
                            <button type="submit" class="btn btn-success" value="add" name="add">
                                <i class="fa fa-check-circle"></i>
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@*Modal Edit*@
<div class="modal" tabindex="-1" id="modalEdit">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Agent</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data" id="form_edit">
                    <div class="form-group row">
                        <label for="txtPlantEdit" class="col-sm-3 col-form-label">PLANT : </label>
                        <div class="col-sm-7">
                            <input type="text" asp-for="Plant_Edit" class="form-control" id="txtPlantEdit" readonly autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="txtBay_Edit" class="col-sm-3 col-form-label">BAY : </label>
                        <div class="col-sm-7">
                            <input type="text" asp-for="Bay_Edit" class="form-control" id="txtBay_Edit" autocomplete="off">
                        </div>
                    </div>
                    <fieldset class="form-group row">
                        <legend class="col-form-label col-sm-3 float-sm-left pt-0">isDOM ? : </legend>
                        <div class="col-sm-7">
                            <div class="form-check">
                                <input type="checkbox" asp-for="IsDOM_Edit" name="IsDOM_Edit"
                                       id="IsDOM_Edit" value="1" class="form-check-input" />

                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="form-group row">
                        <legend class="col-form-label col-sm-3 float-sm-left pt-0">isOVS ? : </legend>
                        <div class="col-sm-7">
                            <div class="form-check">
                                <input type="checkbox" asp-for="IsOVS_Edit" name="IsOVS_Edit"
                                       id="IsOVS_Edit" value="1" class="form-check-input" />

                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="form-group row">
                        <legend class="col-form-label col-sm-3 float-sm-left pt-0">isActive : </legend>
                        <div class="col-sm-7">
                            <div class="form-check">
                                <input type="radio" asp-for="IsActive_Edit" name="IsActive_Edit"
                                       id="IsActive_Edit1" value="1" class="form-check-input" />
                                <label class="form-check-label" for="IsActive_Edit1">
                                    Yes
                                </label>
                            </div>
                            <div class="form-check">
                                <input type="radio" asp-for="IsActive_Edit" name="IsActive_Edit"
                                       id="IsActive_Edit2" value="2" class="form-check-input" />
                                <label class="form-check-label" for="IsActive_Edit2">
                                    No
                                </label>
                            </div>
                        </div>
                    </fieldset>
                    <input type="hidden" asp-for="BayId_Edit" class="form-control" id="txtBayId_Edit" autocomplete="off">
                    <div class="form-group row">
                        <div class="col-sm-10 text-right">
                            <button type="submit" class="btn btn-success" value="edit" name="edit">
                                <i class="fa fa-check-circle"></i>
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@*Loading*@
<div class="overlay container-fluid">
    <img class="imgloading" src="/images/loading.gif" alt="Loading..." />
</div>

@section Scripts {
    <script>

        $("#btnAdd").on("click", function () {
            $("#form_add").trigger("reset");
            $("#modalAdd").modal({ backdrop: "static" });
            $("#modalAdd").show();
        });

        function btnEdit(id, bay, isdom, isovs, isactive, plant) {

            $("#form_edit").trigger("reset");

            $("#txtBayId_Edit").val(id);
            $("#txtPlantEdit").val(plant);
            $("#txtBay_Edit").val(bay);

            if (isdom == 1) {
                document.getElementById("IsDOM_Edit").checked = true;
            }
            else {
                document.getElementById("IsDOM_Edit").checked = false;
            }

            if (isovs == 1) {
                document.getElementById("IsOVS_Edit").checked = true;
            }
            else {
                document.getElementById("IsOVS_Edit").checked = false;
            }

            if (isactive == 1) {
                document.getElementById("IsActive_Edit1").checked = true;
                document.getElementById("IsActive_Edit2").checked = false;
            }
            else {
                document.getElementById("IsActive_Edit1").checked = false;
                document.getElementById("IsActive_Edit2").checked = true;
            }

            $("#modalEdit").modal({ backdrop: "static" });
            $("#modalEdit").show();

        }

        $(document).ready(function () {

            var gridView = "#gridView";

            var dtGrid = $(gridView).DataTable({
                serverSide: true,
                processing: true,
                destroy: true,
                responsive: true,
                ajax: {
                    url: "/Queing/Master/All/Bay?handler=Grid",
                    type: "post",
                    headers: {
                        "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                    }
                },
                initComplete: function () {
                    $('.dataTables_filter input').unbind();
                    $('.dataTables_filter input').on("keyup", function (e) {
                        if (e.keyCode == 13) {
                            dtGrid.search($(this).val()).draw();
                        }
                    });
                },
                columns: [
                    { title: "Plant", data: "plant" },
                    { title: "Description", data: "bay" },
                    { title: "isDOM?", data: "isdom" },
                    { title: "isOVS?", data: "isovs" },
                    { title: "isActive?", data: "isactive" },
                    { title: "Edit", data: null }
                ],
                columnDefs: [
                    {
                        targets: 0,
                        width: '10%'
                    },
                    {
                        targets: 1,
                        width: '45%'
                    },
                    {
                        targets: 2,
                        width: '10%',
                        "className": "text-center",
                        render: function (data, type, row) {
                            return data === 1 ? showBadge("", "success", "fa fa-check") : showBadge("", "danger", "fa fa-times");
                        }
                    },
                    {
                        targets: 3,
                        width: '10%',
                        "className": "text-center",
                        render: function (data, type, row) {
                            return data === 1 ? showBadge("", "success", "fa fa-check") : showBadge("", "danger", "fa fa-times");
                        }
                    },
                    {
                        targets: 4,
                        width: '10%',
                        "className": "text-center",
                        render: function (data, type, row) {
                            return data === 1 ? showBadge("", "success", "fa fa-check") : showBadge("", "danger", "fa fa-times");
                        }
                    },
                    {
                        targets: 5,
                        width: '15%',
                        sortable: false,
                        render: function (data, type, row) {
                            var link = "";

                            link += "<button type='button' class='btn btn-outline-info btn-sm' onclick='btnEdit(" + row.id + ",\"" + row.bay + "\"," + row.isdom + "," + row.isovs + "," + row.isactive + ",\"" + row.plant + "\")'>"
                                + "<i class='fa fa-edit'></i> Edit";
                            +  "</button>";

                            return link;
                        }
                    }
                ],
            });

            $(gridView + " thead th input[type=checkbox]").on("change", function () {
                if (this.checked === true) {
                    $(gridView + " tbody input[type=checkbox]").prop("checked", true);
                } else {
                    $(gridView + " tbody input[type=checkbox]").prop("checked", false);
                }
            });

            $("body").on("keypress", function (e) {
                if (e.which === 13) e.preventDefault();
            });
        });

        $("#form_edit").submit(function (e) {
            if ($("#txtBay_Edit").val() == "") {
                alert("Please input Bay!!");
                return false;
            }
            $('#modalEdit').modal('hide');
            $(".overlay").show();
        });


        $("#form_add").submit(function (e) {
            if ($("#ddlPlant").val() == "") {
                alert("Please select Plant!!");
                return false;
            }

            if ($("#txtBay_Add").val() == "") {
                alert("Please input Bay!!");
                return false;
            }

            $('#modalAdd').modal('hide');
            $(".overlay").show();

        });

    </script>
}

