@page
@model Web.UI.Pages.Queing.Master.All.TruckCategoryModel
@using Interfaces
@using Infrastructure.Models

@inject IAuthService authService

@{
    Layout = "_LayoutQueing";
}
@{
    ViewData["Title"] = "Truck Category";
    ViewData["status"] = "0";

    ViewData["Breadcrumb"] = new List<BreadcrumbModel> {
        new BreadcrumbModel { Text = "Queing", Link = "/Queing/Home" },
        new BreadcrumbModel { Text = "Master ALL", Link = "/Queing/Master/All" },
        new BreadcrumbModel { Text = "Truck Category" }
    };
}

<style>
    .container2 {
        border-radius: 5px;
        background-color: white;
        padding: 10px;
    }

    .table_modal {
        padding: 5px;
        width: 100%;
        text-align: right;
    }

        .table_modal tr {
            padding: 5px;
            vertical-align: top;
        }

    .overlay {
        background: #f9f6f3;
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.5;
    }

    .imgloading {
        position: absolute;
        left: 50%;
        top: 80%;
        width: 5%;
    }

    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>

<div class="container2">
    <div class="card mb-3">
        <div class="card-header">
            <span>Truck Category Master</span>
        </div>
        <div class="card-body">
            <div class="mb-3">
                <button class="btn btn-outline-primary" id="btnAdd">
                    <i class="fa fa-user-plus"></i>
                    Add New Truck Category
                </button>
            </div>
            <form method="post">
                <table id="gridView" width="100%" class="table table-hover"></table>
            </form>
        </div>
    </div>
</div>

@*Modal Add*@
<div class="modal" tabindex="-1" id="modalAdd">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Truck Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data" id="form_add">
                    <div class="form-group row">
                        <label for="txtDescription_Add" class="col-sm-3 col-form-label">Truck Category : </label>
                        <div class="col-sm-7">
                            <input type="text" asp-for="Description_Add" class="form-control" id="txtDescription_Add" autocomplete="off">
                        </div>
                    </div>

                    <fieldset class="form-group row">
                        <legend class="col-form-label col-sm-3 float-sm-left pt-0">Process : </legend>
                        <div class="col-sm-7">
                            <div class="form-check">
                                <input type="radio" asp-for="IsProcess_Add" name="IsProcess_Add"
                                       id="IsProcess_AddDOM" value="DOM" class="form-check-input" />
                                <label class="form-check-label" for="IsProcess_AddDOM">
                                    DOM
                                </label>
                            </div>
                            <div class="form-check">
                                <input type="radio" asp-for="IsProcess_Add" name="IsProcess_Add"
                                       id="IsProcess_AddOVS" value="OVS" class="form-check-input" />
                                <label class="form-check-label" for="IsProcess_AddOVS">
                                    OVS
                                </label>
                            </div>
                        </div>
                    </fieldset>

                    <div class="form-group row">
                        <label for="txtSTDTime_Add" class="col-sm-3 col-form-label">STD Time : </label>
                        <div class="col-sm-7">
                            <input type="number" id="txtSTDTime_Add" asp-for="STDTime_Add" class="form-control" autocomplete="off" readonly />
                        </div>
                    </div>

                    <fieldset class="form-group row">
                        <legend class="col-form-label col-sm-3 float-sm-left pt-0">isActive : </legend>
                        <div class="col-sm-7">
                            <div class="form-check">
                                <input type="radio" asp-for="IsActive_Add" name="IsActive_Add"
                                       id="IsActive_Add1" value="1" class="form-check-input" />
                                <label class="form-check-label" for="IsActive_Add1">
                                    Yes
                                </label>
                            </div>
                            <div class="form-check">
                                <input type="radio" asp-for="IsActive_Add" name="IsActive_Add"
                                       id="IsActive_Add2" value="2" class="form-check-input" />
                                <label class="form-check-label" for="IsActive_Add2">
                                    No
                                </label>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group row">
                        <div class="col-sm-10 text-right">
                            <button type="submit" class="btn btn-success" value="add" name="add">
                                <i class="fa fa-check-circle"></i>
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@*Modal Edit*@
<div class="modal" tabindex="-1" id="modalEdit">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Truck Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data" id="form_edit">
                    <div class="form-group row">
                        <label for="txtDescription_Add" class="col-sm-3 col-form-label">Truck Category : </label>
                        <div class="col-sm-7">
                            <input type="text" asp-for="Description_Edit" class="form-control" id="txtDescription_Edit" autocomplete="off">
                        </div>
                    </div>

                    <fieldset class="form-group row">
                        <legend class="col-form-label col-sm-3 float-sm-left pt-0">Process : </legend>
                        <div class="col-sm-7">
                            <div class="form-check">
                                <input type="radio" asp-for="IsProcess_Edit" name="IsProcess_Edit"
                                       id="IsProcess_EditDOM" value="DOM" class="form-check-input" />
                                <label class="form-check-label" for="IsProcess_EditDOM">
                                    DOM
                                </label>
                            </div>
                            <div class="form-check">
                                <input type="radio" asp-for="IsProcess_Edit" name="IsProcess_Edit"
                                       id="IsProcess_EditOVS" value="OVS" class="form-check-input" />
                                <label class="form-check-label" for="IsProcess_EditOVS">
                                    OVS
                                </label>
                            </div>
                        </div>
                    </fieldset>

                    <div class="form-group row">
                        <label for="txtSTDTime_Add" class="col-sm-3 col-form-label">STD Time : </label>
                        <div class="col-sm-7">
                            <input type="number" id="txtSTDTime_Edit" asp-for="STDTime_Edit" class="form-control" autocomplete="off" readonly />
                        </div>
                    </div>

                    <fieldset class="form-group row">
                        <legend class="col-form-label col-sm-3 float-sm-left pt-0">isActive : </legend>
                        <div class="col-sm-7">
                            <div class="form-check">
                                <input type="radio" asp-for="IsActive_Edit" name="IsActive_Edit"
                                       id="IsActive_Edit1" value="1" class="form-check-input" />
                                <label class="form-check-label" for="IsActive_Edit1">
                                    Yes
                                </label>
                            </div>
                            <div class="form-check">
                                <input type="radio" asp-for="IsActive_Edit" name="IsActive_Edit"
                                       id="IsActive_Edit2" value="2" class="form-check-input" />
                                <label class="form-check-label" for="IsActive_Edit2">
                                    No
                                </label>
                            </div>
                        </div>
                    </fieldset>
                    <input type="hidden" id="txtCateId_Edit" asp-for="CateId_Edit" class="form-control" autocomplete="off" readonly />
                    <div class="form-group row">
                        <div class="col-sm-10 text-right">
                            <button type="submit" class="btn btn-success" value="edit" name="edit">
                                <i class="fa fa-check-circle"></i>
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@*Loading*@
<div class="overlay container-fluid">
    <img class="imgloading" src="/images/loading.gif" alt="Loading..." />
</div>

@section Scripts {
    <script>

        $("#btnAdd").on("click", function () {
            $("#form_add").trigger("reset");
            $("#modalAdd").modal({ backdrop: "static" });
            $("#modalAdd").show();
        });

        function btnEdit(id, description, stdtime, isdom, isovs, isactive) {

            $("#form_edit").trigger("reset");

            $("#txtCateId_Edit").val(id);

            $("#txtDescription_Edit").val(description);
            $("#txtSTDTime_Edit").val(stdtime);

            if (isdom == 1) {
                document.getElementById("IsProcess_EditDOM").checked = true;
                document.getElementById("IsProcess_EditOVS").checked = false;

                document.getElementById("txtSTDTime_Edit").readOnly = false;
            }
            else {
                document.getElementById("IsProcess_EditDOM").checked = false;
                document.getElementById("IsProcess_EditOVS").checked = true;

                document.getElementById("txtSTDTime_Edit").readOnly = true;
            }

            if (isactive == 1) {
                document.getElementById("IsActive_Edit1").checked = true;
                document.getElementById("IsActive_Edit2").checked = false;
            }
            else {
                document.getElementById("IsActive_Edit1").checked = false;
                document.getElementById("IsActive_Edit2").checked = true;
            }

            $("#modalEdit").modal({ backdrop: "static" });
            $("#modalEdit").show();

        }

        $(":radio[name=IsProcess_Add]").on("change", function () {
            var val = $(this).val();
            if (val == "DOM") {
                $("#txtSTDTime_Add").val("0");
                document.getElementById("txtSTDTime_Add").readOnly = false;
            }
            else {
                $("#txtSTDTime_Add").val("0");
                document.getElementById("txtSTDTime_Add").readOnly = true;
            }

        });

        $(":radio[name=IsProcess_Edit]").on("change", function () {
            var val = $(this).val();
            if (val == "DOM") {
                document.getElementById("txtSTDTime_Edit").readOnly = false;
            }
            else {
                $("#txtSTDTime_Edit").val("0");
                document.getElementById("txtSTDTime_Edit").readOnly = true;
            }

        });

        $(document).ready(function () {

            var gridView = "#gridView";

            var dtGrid = $(gridView).DataTable({
                serverSide: true,
                processing: true,
                destroy: true,
                responsive: true,
                ajax: {
                    url: "/Queing/Master/All/TruckCategory?handler=Grid",
                    type: "post",
                    headers: {
                        "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                    }
                },
                initComplete: function () {
                    $('.dataTables_filter input').unbind();
                    $('.dataTables_filter input').on("keyup", function (e) {
                        if (e.keyCode == 13) {
                            dtGrid.search($(this).val()).draw();
                        }
                    });
                },
                columns: [
                    { title: "Description", data: "description" },
                    { title: "STD Time", data: "stdtime" },
                    { title: "isDOM?", data: "isdom" },
                    { title: "isOVS?", data: "isovs" },
                    { title: "isActive?", data: "isactive" },
                    { title: "Edit", data: null }
                ],
                columnDefs: [
                    {
                        targets: 0,
                        width: '40%'
                    },
                    {
                        targets: 1,
                        width: '20%'
                    },
                    {
                        targets: 2,
                        width: '10%',
                        "className": "text-center",
                        render: function (data, type, row) {
                            return data === 1 ? showBadge("", "success", "fa fa-check") : showBadge("", "danger", "fa fa-times");
                        }
                    },
                    {
                        targets: 3,
                        width: '10%',
                        "className": "text-center",
                        render: function (data, type, row) {
                            return data === 1 ? showBadge("", "success", "fa fa-check") : showBadge("", "danger", "fa fa-times");
                        }
                    },
                    {
                        targets: 4,
                        width: '10%',
                        "className": "text-center",
                        render: function (data, type, row) {
                            return data === 1 ? showBadge("", "success", "fa fa-check") : showBadge("", "danger", "fa fa-times");
                        }
                    },
                    {
                        targets: 5,
                        width: '10%',
                        sortable: false,
                        render: function (data, type, row) {
                            var link = "";

                            link += "<button type='button' class='btn btn-outline-info btn-sm' onclick='btnEdit(" + row.id + ",\"" + row.description + "\",\"" + row.stdtime + "\"," + row.isdom + "," + row.isovs + "," + row.isactive + ")'>"
                                 +  "<i class='fa fa-edit'></i> Edit";
                                 +  "</button>";

                            return link;
                        }
                    }
                ],
            });

            $(gridView + " thead th input[type=checkbox]").on("change", function () {
                if (this.checked === true) {
                    $(gridView + " tbody input[type=checkbox]").prop("checked", true);
                } else {
                    $(gridView + " tbody input[type=checkbox]").prop("checked", false);
                }
            });

            $("body").on("keypress", function (e) {
                if (e.which === 13) e.preventDefault();
            });
        });

        $("#form_edit").submit(function (e) {
            if ($("#txtDescription_Edit").val() == "") {
                alert("Please input Truck Description!!");
                return false;
            }
            $('#modalEdit').modal('hide');
            $(".overlay").show();
        });


        $("#form_add").submit(function (e) {
            if ($("#txtDescription_Add").val() == "") {
                alert("Please input Truck Description!!");
                return false;
            }

            $('#modalAdd').modal('hide');
            $(".overlay").show();

        });

    </script>
}