@page
@model Web.UI.Pages.Vender.IndexModel
@using Infrastructure.Models
@{
    ViewData["Title"] = "Vendor Page";

    ViewData["Breadcrumb"] = new List<BreadcrumbModel> {
        new BreadcrumbModel { Text = "Vendor" }
    };
}
<style>
    td {
        padding: 5px;
    }

    .container2 {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 10px;
    }
</style>
<div class="d-flex justify-content-between align-items-center my-3">
    <h3>Vendor List</h3>
    <div>
        <a class="btn btn-outline-primary" href="/Vender/Add"><i class="fa fa-plus"></i> New Vendor</a>
    </div>
</div>
<div>
    <form method="post" enctype="multipart/form-data">
        <div class="container2">
            <table width="90%">
                <tr style="text-align:right;vertical-align:top;">
                    <td width="15%">
                        <b>Request Code :</b>
                    </td>
                    <td width="35%">
                        <div class="input-group">
                            <input type="text" class="form-control" id="RequestCode" autocomplete="off" />
                        </div>
                    </td>
                    <td width="15%">
                        <b>DataArea :</b>
                    </td>
                    <td width="35%">
                        <div class="input-group">
                            <select id="Dataarea" class="form-control">
                                <option value="">--- SELECT ---</option>
                                <option value="dv"> โรงงาน </option>
                                <option value="dsc"> DSC </option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr style="text-align:right;vertical-align:top;">
                    <td width="15%">
                        <b>Request Date (From) :</b>
                    </td>
                    <td width="35%">
                        <div class="input-group">
                            <input class="form-control" id="RequestDateFrom" name="RequestDateFrom" placeholder="YYYY-MM-DD" type="text" autocomplete="off" />
                        </div>
                    </td>
                    <td width="15%">
                        <b>Request Date (To) :</b>
                    </td>
                    <td width="35%">
                        <div class="input-group">
                            <input class="form-control" id="RequestDateTo" name="RequestDateTo" placeholder="YYYY-MM-DD" type="text" autocomplete="off" />
                        </div>
                    </td>
                </tr>
                <tr style="text-align:right;vertical-align:top;">
                    <td width="15%">
                        <b>Vendor Code :</b>
                    </td>
                    <td width="35%">
                        <div class="input-group">
                            <input type="text" class="form-control" id="VendorAX" autocomplete="off" />
                        </div>
                    </td>
                    <td width="15%">
                        <b>Status :</b>
                    </td>
                    <td width="35%">
                        <div class="input-group">
                            <select id="AppStatus" class="form-control">
                                <option value="">--- SELECT ---</option>
                                <option value="3"> Waiting for approve </option>
                                <option value="4"> Reject </option>
                                <option value="6"> Waiting for Release </option>
                                <option value="5"> Complete </option>
                                <option value="7"> Sucessfully </option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr style="text-align:right;vertical-align:top;">
                    <td width="15%">
                        <b>Vendor Name :</b>
                    </td>
                    <td width="35%">
                        <div class="input-group">
                            <input type="text" class="form-control" id="VendorName" autocomplete="off" />
                        </div>
                    </td>
                    <td width="15%">
                        <b>Requester :</b>
                    </td>
                    <td width="35%">
                        <div class="input-group">
                            <input type="text" class="form-control" id="RequesterUsername" autocomplete="off" />
                        </div>
                    </td>
                </tr>
                <tr style="text-align:right;vertical-align:top;">
                    <td width="15%">
                    </td>
                    <td width="35%">
                    </td>
                    <td colspan="2">
                        <button type="button" class="btn btn-info" id="btnSearch" name="btnSearch">
                            <i class="fa fa-search"></i>
                            Search
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <br />
        <table id="gridVender" width="100%" class="table table-hover"></table>
    </form>
</div>

    

    @section Scripts {
        <script>
            $(document).ready(function () {

                var date_inputfrom = $('input[name="RequestDateFrom"]'); 
                var containerfrom = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
                var optionsfrom = {
                    format: 'yyyy-mm-dd',
                    container: containerfrom,
                    todayHighlight: true,
                    autoclose: true,
                };
                date_inputfrom.datepicker(optionsfrom);

                var date_input = $('input[name="RequestDateTo"]'); 
                var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
                var options = {
                    format: 'yyyy-mm-dd',
                    container: container,
                    todayHighlight: true,
                    autoclose: true,
                };
                date_input.datepicker(options);

                var RequestCode = null;
                var DataareaID = null;
                var VendorAX = null;
                var VendorName = null;
                var AppStatus = null;
                var RequestDateFrom = null;
                var RequestDateTo = null;
                var RequesterUsername = null;

                var gridVender = "#gridVender";

                $(gridVender).DataTable({
                    serverSide: true,
                    processing: true,
                    destroy: true,
                    responsive: true,
                    searching: false,
                    ajax: {
                        url: "/Vender/Index?handler=Grid&RequestCode=" + RequestCode + "&DataareaID=" + DataareaID + "&VendorAX=" + VendorAX + "&RequestDateFrom=" + RequestDateFrom + "&RequestDateTo=" + RequestDateTo + "&VendorName=" + VendorName + "&AppStatus=" + AppStatus + "&isFristLoad=1&Requestby=" + RequesterUsername,
                        type: "post",
                        headers: {
                            "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                        }
                    },
                    columns: [
                        { title: "ID", data: "id" },
                        { title: "REQUEST CODE", data: "requestcode" },
                        { title: "Dataarea", data: "dataareaid" },
                        { title: "AX Code", data: "vendcode_ax" },
                        { title: "REQUEST DATE", data: "requestdate" },
                        { title: "VENDOR NAME", data: "vendname" },
                        { title: "Step", data: "currentapprovestep" },
                        { title: "RequestBy", data: "username" },
                        { title: "Status", data: "approvestatus" },
                        { title: "isActive?", data: "isactive" },
                        { title: "Action", data: null }
                    ],
                    columnDefs: [
                        {
                            targets: 0,
                            visible: false
                        },
                        {
                            targets: 2,
                            render: function (data, type, row) {

                                if (data == "dv") {
                                    return "<span> โรงงาน </span>";
                                }
                                else {
                                    return "<span> DSC </span>";
                                }
                            }
                        },
                        {
                            targets: 6,
                            visible: false
                        },
                        {
                            targets: 8,
                            render: function (data, type, row) {

                                if (row.approvestatus === 1 && row.vendprocessid === 1) {
                                    return "<span class='badge badge-secondary'>Open Sample</span>";
                                }

                                if (row.approvestatus === 1 && row.vendprocessid === 2) {
                                    return "<span class='badge badge-secondary'>Open Release</span>";
                                }

                                if (row.approvestatus === 1 && row.vendprocessid === 3) {
                                    return "<span class='badge badge-secondary'>Open Normal</span>";
                                }

                                if (row.approvestatus === 2 && row.vendprocessid === 1) {
                                    return "<span class='badge badge-dark'>Cancel Sample</span>";
                                }

                                if (row.approvestatus === 2 && row.vendprocessid === 2) {
                                    return "<span class='badge badge-dark'>Cancel Release</span>";
                                }

                                if (row.approvestatus === 2 && row.vendprocessid === 3) {
                                    return "<span class='badge badge-dark'>Cancel Normal</span>";
                                }

                                if (row.approvestatus === 3 && row.vendprocessid === 1 && row.completedate === null) {
                                    return "<span class='badge badge-warning'>Wait approve Sample</span>";
                                }

                                if (row.approvestatus === 3 && row.vendprocessid === 2 && row.completedate === null) {
                                    return "<span class='badge badge-warning'>Wait approve Release</span>";
                                }

                                if (row.approvestatus === 3 && row.vendprocessid === 3 && row.completedate === null) {
                                    return "<span class='badge badge-warning'>Wait approve Normal</span>";
                                }

                                if (row.approvestatus === 3 && row.completedate !== null && row.isactive === 2 && (row.isrevise === 0 || row.isrevise === 2)) {
                                    return "<span class='badge badge-warning'>Wait approve Active</span>";
                                }

                                if (row.approvestatus === 3 && row.completedate !== null && row.isactive === 0 && (row.isrevise === 0 || row.isrevise === 2)) {
                                    return "<span class='badge badge-warning'>Wait approve Inactive</span>";
                                }

                                if (row.approvestatus === 3 && row.completedate !== null && row.isrevise === 1) {
                                    return "<span class='badge badge-warning'>Wait approve Revise</span>";
                                }

                                if (row.approvestatus === 4 && row.vendprocessid === 1 && row.completedate === null) {
                                    return "<span class='badge badge-danger'>Reject Sample</span>";
                                }

                                if (row.approvestatus === 4 && row.vendprocessid === 2 && row.completedate === null) {
                                    return "<span class='badge badge-danger'>Reject Release</span>";
                                }

                                if (row.approvestatus === 4 && row.completedate !== null && row.isactive === 2 && (row.isrevise === 0 || row.isrevise === 2)) {
                                    return "<span class='badge badge-danger'>Reject Active</span>";
                                }

                                if (row.approvestatus === 4 && row.completedate !== null && row.isactive === 0 && (row.isrevise === 0 || row.isrevise === 2)) {
                                    return "<span class='badge badge-danger'>Reject Inactive</span>";
                                }

                                if (row.approvestatus === 4 && row.completedate !== null && row.isrevise === 1) {
                                    return "<span class='badge badge-danger'>Reject Revise</span>";
                                }

                                if (row.approvestatus === 4 && row.vendprocessid === 3) {
                                    return "<span class='badge badge-danger'>Reject Normal</span>";
                                }

                                if (row.approvestatus === 5 && row.vendprocessid === 1) {
                                    return "<span class='badge badge-success'>Complete Sample</span>";
                                }

                                if (row.approvestatus === 5 && row.vendprocessid === 2) {
                                    return "<span class='badge badge-success'>Complete Release</span>";
                                }

                                if (row.approvestatus === 5 && row.vendprocessid === 3) {
                                    return "<span class='badge badge-success'>Complete Normal</span>";
                                }

                                if (row.approvestatus === 6 && row.vendprocessid === 1) {
                                    return "<span class='badge badge-info'>Waiting for Release</span>";
                                }

                                if (row.approvestatus === 7) {
                                    return "<span class='badge badge-success'>Sucessfully</span>";
                                }


                            }
                        },
                        {
                            targets: 9,
                            render: function (data, type, row) {

                                if (row.isactive == 0) {
                                    return "<span class='badge badge-success'> <i class='fa fa-check'></i> </span>";
                                }
                                else {
                                    return "<span class='badge badge-danger'> <i class='fa fa-times'></i> </span>";
                                }
                            }
                        },
                        {
                            targets: 10,
                            render: function (data, type, row) {
                                var link = "";
                                link += actionLink("/Vender/" + row.id + "/ApproveTrans", "fa fa-list", "Approve Transection");

                                link += actionLink("/Vender/" + row.id + "/ViewInfo", "fa fa-eye", "<span>View</span>");

                                if ((row.vendprocessid == 1 && row.approvestatus == 4 && (row.isrevise == 0 || row.isrevise == 2)) ||
                                    (row.vendprocessid == 2 && row.approvestatus == 4 && (row.isrevise == 0 || row.isrevise == 2)) ||
                                    (row.vendprocessid == 3 && row.approvestatus == 4 && (row.isrevise == 0 || row.isrevise == 2))) {
                                    link += actionLink("/Vender/" + row.id + "/Revise", "fa fa-pencil-square-o ", "<span>Revise</span>");
                                }
                                if ((row.vendprocessid == 1 && row.approvestatus == 4) || (row.approvestatus == 4 && row.completedate != null)) {
                                    link += actionLink("/Vender/" + row.id + "/Cancel", "fa fa-ban ", "<span>Cancel</span>");
                                }
                                //&& row.sendmailsuccess == 1
                                if ((row.vendprocessid == 2 && row.approvestatus == 7 && row.completedate != null)
                                    || (row.vendprocessid == 3 && row.approvestatus == 7 && row.completedate != null)) {
                                    if (row.isactive == 0) {
                                        link += actionLink("/Vender/" + row.id + "/isActive", "fa fa-toggle-off ", "<span>Inactive</span>");
                                    }
                                    else {
                                        link += actionLink("/Vender/" + row.id + "/isActive", "fa fa-toggle-on ", "<span>Active</span>");
                                    }

                                }

                                if ((row.vendprocessid == 1 && row.approvestatus == 6 && row.sendmailsuccess == 1)) {
                                    link += actionLink("/Vender/" + row.id + "/ReleaseVender", "fa fa-unlock-alt ", "<span>Release</span>");
                                }

                                if ((row.approvestatus == 7 && row.completedate != null && row.isactive == 0) || row.isrevise == 1) {
                                    link += actionLink("/Vender/" + row.id + "/ReviseSuccessVender", "fa fa-pencil-square-o ", "<span>Revise</span>");
                                }

                                return link;
                            }
                        }
                    ],
                });

                $("#btnSearch").on("click", function () {

                    RequestCode = $("#RequestCode").val();
                    DataareaID = $("#Dataarea").val();
                    VendorAX = $("#VendorAX").val();
                    RequestDateFrom = $("#RequestDateFrom").val();
                    RequestDateTo = $("#RequestDateTo").val();
                    VendorName = $("#VendorName").val();
                    AppStatus = $("#AppStatus").val();
                    RequesterUsername = $("#RequesterUsername").val();
                    //var test = RequestCode + " " + DataareaID + " " + VendorAX + " " + RequestDateFrom + " " + RequestDateTo + " " + VendorName + " " + AppStatus;
                    //console.log(test);

                    $(gridVender).DataTable({
                        serverSide: true,
                        processing: true,
                        destroy: true,
                        responsive: true,
                        searching: false,
                        ajax: {
                            url: "/Vender/Index?handler=Grid&RequestCode=" + RequestCode + "&DataareaID=" + DataareaID + "&VendorAX=" + VendorAX + "&RequestDateFrom=" + RequestDateFrom + "&RequestDateTo=" + RequestDateTo + "&VendorName=" + encodeURIComponent(VendorName) + "&AppStatus=" + AppStatus + "&isFristLoad=0&Requestby=" + encodeURIComponent(RequesterUsername),
                            type: "post",
                            headers: {
                                "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                            }
                        },
                        columns: [
                            { title: "ID", data: "id" },
                            { title: "REQUEST CODE", data: "requestcode" },
                            { title: "Dataarea", data: "dataareaid" },
                            { title: "AX Code", data: "vendcode_ax" },
                            { title: "REQUEST DATE", data: "requestdate" },
                            { title: "VENDOR NAME", data: "vendname" },
                            { title: "Step", data: "currentapprovestep" },
                            { title: "RequestBy", data: "username" },
                            { title: "Status", data: "approvestatus" },
                            { title: "isActive?", data: "isactive" },
                            { title: "Action", data: null }
                        ],
                        columnDefs: [
                            {
                                targets: 0,
                                visible: false
                            },
                            {
                                targets: 2,
                                render: function (data, type, row) {

                                    if (data == "dv") {
                                        return "<span> โรงงาน </span>";
                                    }
                                    else {
                                        return "<span> DSC </span>";
                                    }
                                }
                            },
                            {
                                targets: 6,
                                visible: false
                            },
                            {
                                targets: 8,
                                render: function (data, type, row) {

                                    if (row.approvestatus === 1 && row.vendprocessid === 1) {
                                        return "<span class='badge badge-secondary'>Open Sample</span>";
                                    }

                                    if (row.approvestatus === 1 && row.vendprocessid === 2) {
                                        return "<span class='badge badge-secondary'>Open Release</span>";
                                    }

                                    if (row.approvestatus === 1 && row.vendprocessid === 3) {
                                        return "<span class='badge badge-secondary'>Open Normal</span>";
                                    }

                                    if (row.approvestatus === 2 && row.vendprocessid === 1) {
                                        return "<span class='badge badge-dark'>Cancel Sample</span>";
                                    }

                                    if (row.approvestatus === 2 && row.vendprocessid === 2) {
                                        return "<span class='badge badge-dark'>Cancel Release</span>";
                                    }

                                    if (row.approvestatus === 2 && row.vendprocessid === 3) {
                                        return "<span class='badge badge-dark'>Cancel Normal</span>";
                                    }

                                    if (row.approvestatus === 3 && row.vendprocessid === 1 && row.completedate === null) {
                                        return "<span class='badge badge-warning'>Wait approve Sample</span>";
                                    }

                                    if (row.approvestatus === 3 && row.vendprocessid === 2 && row.completedate === null) {
                                        return "<span class='badge badge-warning'>Wait approve Release</span>";
                                    }

                                    if (row.approvestatus === 3 && row.vendprocessid === 3 && row.completedate === null) {
                                        return "<span class='badge badge-warning'>Wait approve Normal</span>";
                                    }

                                    if (row.approvestatus === 3 && row.completedate !== null && row.isactive === 2 && (row.isrevise === 0 || row.isrevise === 2)) {
                                        return "<span class='badge badge-warning'>Wait approve Active</span>";
                                    }

                                    if (row.approvestatus === 3 && row.completedate !== null && row.isactive === 0 && (row.isrevise === 0 || row.isrevise === 2)) {
                                        return "<span class='badge badge-warning'>Wait approve Inactive</span>";
                                    }

                                    if (row.approvestatus === 3 && row.completedate !== null && row.isrevise === 1) {
                                        return "<span class='badge badge-warning'>Wait approve Revise</span>";
                                    }

                                    if (row.approvestatus === 4 && row.vendprocessid === 1 && row.completedate === null) {
                                        return "<span class='badge badge-danger'>Reject Sample</span>";
                                    }

                                    if (row.approvestatus === 4 && row.vendprocessid === 2 && row.completedate === null) {
                                        return "<span class='badge badge-danger'>Reject Release</span>";
                                    }

                                    if (row.approvestatus === 4 && row.completedate !== null && row.isactive === 2 && (row.isrevise === 0 || row.isrevise === 2)) {
                                        return "<span class='badge badge-danger'>Reject Active</span>";
                                    }

                                    if (row.approvestatus === 4 && row.completedate !== null && row.isactive === 0 && (row.isrevise === 0 || row.isrevise === 2)) {
                                        return "<span class='badge badge-danger'>Reject Inactive</span>";
                                    }

                                    if (row.approvestatus === 4 && row.completedate !== null && row.isrevise === 1) {
                                        return "<span class='badge badge-danger'>Reject Revise</span>";
                                    }

                                    if (row.approvestatus === 4 && row.vendprocessid === 3) {
                                        return "<span class='badge badge-danger'>Reject Normal</span>";
                                    }

                                    if (row.approvestatus === 5 && row.vendprocessid === 1) {
                                        return "<span class='badge badge-success'>Complete Sample</span>";
                                    }

                                    if (row.approvestatus === 5 && row.vendprocessid === 2) {
                                        return "<span class='badge badge-success'>Complete Release</span>";
                                    }

                                    if (row.approvestatus === 5 && row.vendprocessid === 3) {
                                        return "<span class='badge badge-success'>Complete Normal</span>";
                                    }

                                    if (row.approvestatus === 6 && row.vendprocessid === 1) {
                                        return "<span class='badge badge-info'>Waiting for Release</span>";
                                    }

                                    if (row.approvestatus === 7) {
                                        return "<span class='badge badge-success'>Sucessfully</span>";
                                    }


                                }
                            },
                            {
                                targets: 9,
                                render: function (data, type, row) {

                                    if (row.isactive == 0) {
                                        return "<span class='badge badge-success'> <i class='fa fa-check'></i> </span>";
                                    }
                                    else {
                                        return "<span class='badge badge-danger'> <i class='fa fa-times'></i> </span>";
                                    }
                                }
                            },
                            {
                                targets: 10,
                                render: function (data, type, row) {
                                    var link = "";
                                    link += actionLink("/Vender/" + row.id + "/ApproveTrans", "fa fa-list", "Approve Transection");

                                    link += actionLink("/Vender/" + row.id + "/ViewInfo", "fa fa-eye", "<span>View</span>");

                                    if ((row.vendprocessid == 1 && row.approvestatus == 4 && (row.isrevise == 0 || row.isrevise == 2)) ||
                                        (row.vendprocessid == 2 && row.approvestatus == 4 && (row.isrevise == 0 || row.isrevise == 2)) ||
                                        (row.vendprocessid == 3 && row.approvestatus == 4 && (row.isrevise == 0 || row.isrevise == 2))) {
                                        link += actionLink("/Vender/" + row.id + "/Revise", "fa fa-pencil-square-o ", "<span>Revise</span>");
                                    }
                                    if ((row.vendprocessid == 1 && row.approvestatus == 4) || (row.approvestatus == 4 && row.completedate != null)) {
                                        link += actionLink("/Vender/" + row.id + "/Cancel", "fa fa-ban ", "<span>Cancel</span>");
                                    }
                                    //&& row.sendmailsuccess == 1
                                    if ((row.vendprocessid == 2 && row.approvestatus == 7 && row.completedate != null)
                                        || (row.vendprocessid == 3 && row.approvestatus == 7 && row.completedate != null)) {
                                        if (row.isactive == 0) {
                                            link += actionLink("/Vender/" + row.id + "/isActive", "fa fa-toggle-off ", "<span>Inactive</span>");
                                        }
                                        else {
                                            link += actionLink("/Vender/" + row.id + "/isActive", "fa fa-toggle-on ", "<span>Active</span>");
                                        }

                                    }

                                    if ((row.vendprocessid == 1 && row.approvestatus == 6 && row.sendmailsuccess == 1)) {
                                        link += actionLink("/Vender/" + row.id + "/ReleaseVender", "fa fa-unlock-alt ", "<span>Release</span>");
                                    }

                                    if ((row.approvestatus == 7 && row.completedate != null && row.isactive == 0) || row.isrevise == 1) {
                                        link += actionLink("/Vender/" + row.id + "/ReviseSuccessVender", "fa fa-pencil-square-o ", "<span>Revise</span>");
                                    }

                                    return link;
                                }
                            }
                        ],
                    });
                });
            });
        </script>
    }
