@page "/Vender/{id}/Revise"
@model Web.UI.Pages.Vender.ReviseModel
@using Infrastructure.Models

@using Interfaces
@inject IAuthService authService

<style>
    .table2 tr {
        text-align: right;
        vertical-align: top;
    }

    .table2 td {
        padding: 5px;
    }
    td {
        padding: 5px;
    }

    tr {
        text-align: left;
        vertical-align: top;
    }

    .container2 {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 10px;
    }

    .radio2 {
        width: 20px;
        height: 20px;
        padding: 15px;
    }

    .checkbox2 {
        width: 26px;
        height: 20px;
        padding: 15px;
    }
</style>
@{
    ViewData["Title"] = "Revise Vendor";

    ViewData["Breadcrumb"] = new List<BreadcrumbModel> {
        new BreadcrumbModel { Text = "Vendor", Link = "/Vender" },
        new BreadcrumbModel { Text = "Revise" }
    };
}

<div class="d-flex justify-content-between align-items-center my-3">
    <h1>Rivise</h1>
</div>

<div class="d-flex justify-content-between align-items-center my-3">
    
    <b>
        <label>REVISE DATE : @DateTime.Now.ToString("dd/MM/yyyy")</label>
    </b>
</div>

@*<div class="d-flex justify-content-between align-items-center my-3">
    <div class="form-group">
        <button id="btnRevise" class="btn btn-primary">
            <i class="fa fa-pencil-square-o"></i>
            Rivise
        </button>
    </div> 
</div>*@

<div id="panel1">
    <form method="post" enctype="multipart/form-data">
        <div class="container2">
            <input type="text" asp-for="UpdateBy" autocomplete="off" value="@authService.GetClaim().UserId" hidden="hidden">
            <b>รายละเอียดผู้ขาย</b>
            <table style="width:90%" class="table2">
                <tr>
                    <td> Request Code </td>
                    <td>
                        <div class="input-group">
                            <input type="text" asp-for="RequestCode" class="form-control" autocomplete="off" readonly>
                        </div>
                    </td>
                    <td> Request Date</td>
                    <td>
                        <div class="input-group">
                            <input type="text" asp-for="RequestDate" class="form-control" autocomplete="off" readonly>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td> Plant </td>
                    <td align="left">
                        @if (Model.CheckISDV == 1 && Model.CheckISDSC == 0 && Model.VenderCodeAX == null)
                        {
                            <label for="DataAreaId1">
                                <input type="checkbox" asp-for="DataAreaId1" id="DataAreaId1" name="DataAreaId1" class="checkbox2" onclick="return false;" checked>
                                โรงงาน
                            </label>

                            <label for="DataAreaId2">
                                <input type="checkbox" asp-for="DataAreaId2" id="DataAreaId2" name="DataAreaId2" class="checkbox2" disabled>
                                DSC
                            </label>
                            <input type="hidden" asp-for="DataAreaId" id="DataAreaId" class="form-control" autocomplete="off" value="dv">
                        }
                        else if (Model.CheckISDV == 0 && Model.CheckISDSC == 1 && Model.VenderCodeAX == null)
                        {
                            <label for="DataAreaId1">
                                <input type="checkbox" asp-for="DataAreaId1" id="DataAreaId1" name="DataAreaId1" class="checkbox2" disabled>
                                โรงงาน
                            </label>

                            <label for="DataAreaId2">
                                <input type="checkbox" asp-for="DataAreaId2" id="DataAreaId2" name="DataAreaId2" class="checkbox2" onclick="return false;" checked>
                                DSC
                            </label>
                            <input type="hidden" asp-for="DataAreaId" id="DataAreaId" class="form-control" autocomplete="off" value="dsc">
                        }
                        else if (Model.CheckISDV == 1 && Model.CheckISDSC == 1 && Model.VenderCodeAX == null)
                        {
                            <label for="DataAreaId1">
                                <input type="checkbox" asp-for="DataAreaId1" id="DataAreaId1" name="DataAreaId1" class="checkbox2">
                                โรงงาน
                            </label>

                            <label for="DataAreaId2">
                                <input type="checkbox" asp-for="DataAreaId2" id="DataAreaId2" name="DataAreaId2" class="checkbox2">
                                DSC
                            </label>
                            <input type="hidden" asp-for="DataAreaId" id="DataAreaId" class="form-control" autocomplete="off">
                        }
                        else if (Model.CheckISDV == 0 && Model.CheckISDSC == 1 && Model.VenderCodeAX != null)
                        {
                            <label for="DataAreaId1">
                                <input type="checkbox" asp-for="DataAreaId1" id="DataAreaId1" name="DataAreaId1" class="checkbox2" disabled>
                                โรงงาน
                            </label>

                            <label for="DataAreaId2">
                                <input type="checkbox" asp-for="DataAreaId2" id="DataAreaId2" name="DataAreaId2" class="checkbox2" onclick="return false;" checked>
                                DSC
                            </label>
                            <input type="hidden" asp-for="DataAreaId" id="DataAreaId" class="form-control" autocomplete="off" value="dsc">
                        }
                        else if (Model.CheckISDV == 1 && Model.CheckISDSC == 0 && Model.VenderCodeAX != null)
                        {
                            <label for="DataAreaId1">
                                <input type="checkbox" asp-for="DataAreaId1" id="DataAreaId1" name="DataAreaId1" class="checkbox2" onclick="return false;" checked>
                                โรงงาน
                            </label>

                            <label for="DataAreaId2">
                                <input type="checkbox" asp-for="DataAreaId2" id="DataAreaId2" name="DataAreaId2" class="checkbox2" disabled>
                                DSC
                            </label>
                            <input type="hidden" asp-for="DataAreaId" id="DataAreaId" class="form-control" autocomplete="off" value="dv">
                        }
                        else
                        {
                            <label for="DataAreaId1">
                                <input type="checkbox" asp-for="DataAreaId1" id="DataAreaId1" name="DataAreaId1" class="checkbox2" disabled>
                                โรงงาน
                            </label>

                            <label for="DataAreaId2">
                                <input type="checkbox" asp-for="DataAreaId2" id="DataAreaId2" name="DataAreaId2" class="checkbox2" disabled>
                                DSC
                            </label>
                            <input type="hidden" asp-for="DataAreaId" id="DataAreaId" class="form-control" autocomplete="off">
                        }

                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td> Vendor Code </td>
                    <td>
                        <div class="input-group">
                            <input type="text" asp-for="VenderCode" class="form-control" autocomplete="off" readonly>
                        </div>
                    </td>
                    <td> Vendor Code AX </td>
                    <td>
                        <div class="input-group">
                            <input type="text" asp-for="VenderCodeAX" class="form-control" autocomplete="off" readonly>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td> เลขประจำตัวผู้เสียภาษีอากร <span class="text-danger font-weight-bold">*</span></td>
                    <td>
                        <div class="input-group">
                            @if (Model.VenderCodeAX != null)
                            {
                                <input type="text" asp-for="VenderIDNum" class="form-control" autocomplete="off" readonly>
                            }
                            else
                            {
                                <input type="text" asp-for="VenderIDNum" class="form-control" autocomplete="off">
                            }

                            <span asp-validation-for="VenderIDNum" class="text-danger"></span>
                        </div>
                    </td>
                    <td> ชื่อผู้ขาย <span class="text-danger font-weight-bold">*</span></td>
                    <td>
                        <div class="input-group">
                            @if (Model.VenderCodeAX != null)
                            {
                                <input type="text" asp-for="VenderName" class="form-control" autocomplete="off" readonly>
                            }
                            else
                            {
                                <input type="text" asp-for="VenderName" class="form-control" autocomplete="off">
                            }

                            <span asp-validation-for="VenderName" class="text-danger"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td> ที่อยู่ </td>
                    <td>
                        <div class="input-group">
                            <textarea type="text" asp-for="Address" rows="2" style="white-space:normal;display:block;" class="form-control" autocomplete="off"></textarea>
                        </div>
                    </td>
                    <td> ชื่อผู้ติดต่อ </td>
                    <td>
                        <div class="input-group">
                            <input type="text" asp-for="ContactName" class="form-control" autocomplete="off">
                        </div>
                    </td>

                </tr>
                <tr>
                    <td> โทรศัพท์ </td>
                    <td>
                        <div class="input-group">
                            <input type="text" asp-for="Telephone" class="form-control" autocomplete="off">
                        </div>
                    </td>
                    <td> แฟ็กซ์ </td>
                    <td>
                        <div class="input-group">
                            <input type="text" asp-for="Fax" class="form-control" autocomplete="off">
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>  อีเมล / Chat ID </td>
                    <td>
                        <div class="input-group">
                            <input type="text" asp-for="Email" class="form-control" autocomplete="off">
                        </div>
                    </td>
                    <td> เว็บไซต์ </td>
                    <td>
                        <div class="input-group">
                            <input type="text" asp-for="Website" class="form-control" autocomplete="off">
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <br />
        <div class="container2">
            <b>ข้อมูลเพิ่มเติม</b>
            <table style="width:90%" class="table2">
                <tr style="vertical-align:bottom;">
                    <td>ประเภทธุรกิจ : <span class="text-danger font-weight-bold">*</span></td>
                    <td width="70%">
                        <select asp-for="VenderGroup" asp-items="Model.VenderGroupMaster" class="form-control">
                            <option value="">--- SELECT ---</option>
                        </select>
                        <span asp-validation-for="VenderGroup" class="text-danger"></span>
                    </td>
                </tr>
                <tr style="vertical-align:bottom;">
                    <td>ประเภท Vendor : <span class="text-danger font-weight-bold">*</span></td>
                    <td width="70%">
                        <select asp-for="VenderType" asp-items="Model.VenderTypeMaster" class="form-control">
                            <option value="">--- SELECT ---</option>
                        </select>
                        <span asp-validation-for="VenderType" class="text-danger"></span>
                    </td>
                </tr>
                <tr style="vertical-align:bottom;">
                    <td>ประเภทสินค้า : <span class="text-danger font-weight-bold">*</span></td>
                    <td width="70%">
                        <table width="100%">
                            <tr>
                                <td width="30%">
                                    <select asp-for="ProductType" asp-items="Model.ProductTypeMaster" class="form-control">
                                        <option value="">--- SELECT ---</option>
                                    </select>
                                    <span asp-validation-for="ProductType" class="text-danger"></span>
                                </td>
                                <td width="70%">
                                    <div class="input-group">
                                        <input type="text" asp-for="ProductTypeDetail" class="form-control" autocomplete="off">
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr style="vertical-align:bottom;">
                    <td>สกุลเงิน : <span class="text-danger font-weight-bold">*</span></td>
                    <td width="70%">
                        <select asp-for="Currency" asp-items="Model.CurrencyMaster" class="form-control">
                            <option value="">--- SELECT ---</option>
                        </select>
                        <span asp-validation-for="Currency" class="text-danger"></span>
                    </td>
                </tr>
                <tr style="vertical-align:bottom;">
                    <td>Terms of payment : <span class="text-danger font-weight-bold">*</span></td>
                    <td width="70%">
                        <select asp-for="Paymterm" asp-items="Model.PaymtermMaster" class="form-control">
                            <option value="">--- SELECT ---</option>
                        </select>
                        <span asp-validation-for="Paymterm" class="text-danger"></span>
                    </td>
                </tr>
            </table>
        </div>
        <br />
        <div class="container2">
            <b>ข้อมูลประกอบการพิจารณา</b>
            <p> 1. เอกสารผู้ขาย</p>
            <table width="80%" align="center" class="table2">
                <tr style="text-align: left;">
                    <td>
                        <label for="DocRef1">
                            <input type="checkbox" asp-for="DocRef1" id="DocRef1" name="DocRef1" class="checkbox2">
                            ภ.พ. 20 หรือสำเนาบัตรประชาชน (บุคคลทั่วไป)
                        </label>
                    </td>
                    <td>
                       @* เงื่อนไขการชำระเงิน*@
                    </td>
                </tr>
                <tr style="text-align: left;">
                    <td>
                        <label for="DocRef2">
                            <input type="checkbox" asp-for="DocRef2" id="DocRef2" name="DocRef2" class="checkbox2">
                            หนังสือรับรองการจดทะเบียน
                        </label>
                    </td>
                    <td>
                        @*<label for="DocRef7">
                            <input type="checkbox" asp-for="DocRef7" id="DocRef7" name="DocRef7" class="checkbox2">
                            เงินสด
                        </label>*@
                    </td>
                </tr>
                <tr style="text-align: left;">
                    <td>
                        <label for="DocRef3">
                            <input type="checkbox" asp-for="DocRef3" id="DocRef3" name="DocRef3" class="checkbox2">
                            สำเนาบัญชีรายชื่อผู้ถือหุ้น (บอจ.5)
                        </label>
                    </td>
                    <td>
                        @*<label for="DocRef8">
                            <input type="checkbox" asp-for="DocRef8" id="DocRef8" name="DocRef8" class="checkbox2">
                            เครดิต
                        </label>*@
                    </td>
                </tr>
                <tr style="text-align: left;">
                    <td>
                        <label for="DocRef4">
                            <input type="checkbox" asp-for="DocRef4" id="DocRef4" name="DocRef4" class="checkbox2">
                            Company Profile
                        </label>
                    </td>
                    <td>
                        @*<table width="100%" align="left">
                            <tr style="text-align: left;vertical-align:bottom;">
                                <td style="padding:unset;">
                                    <label for="DocRef9">
                                        <input type="checkbox" asp-for="DocRef9" id="DocRef9" name="DocRef9" class="checkbox2">
                                        อื่นๆ
                                    </label>
                                </td>
                                <td style="padding:unset;">
                                    <input type="text" class="form-control" asp-for="DocRef9_Desc" id="DocRef9_Desc" name="DocRef9_Desc" autocomplete="off" readonly>
                                </td>
                            </tr>
                        </table>*@
                    </td>
                </tr>
                <tr style="text-align: left;">
                    <td>
                        <label for="DocRef5">
                            <input type="checkbox" asp-for="DocRef5" id="DocRef5" name="DocRef5" class="checkbox2">
                            แผนที่บริษัท/กิจการ
                        </label>
                    </td>
                    <td></td>
                </tr>
                <tr style="text-align: left;">
                    <td>
                        <table width="100%" align="left">
                            <tr style="text-align: left;vertical-align:bottom;">
                                <td style="padding:unset;">
                                    <label for="DocRef6">
                                        <input type="checkbox" asp-for="DocRef6" id="DocRef6" name="DocRef6" class="checkbox2">
                                        อื่นๆ
                                    </label>
                                </td>
                                <td style="padding:unset;">
                                    <input type="text" class="form-control" asp-for="DocRef6_Desc" id="DocRef6_Desc" name="DocRef6_Desc" autocomplete="off" readonly>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td></td>
                </tr>
            </table>
            <p>2. การรับรองมาตรฐานระบบบริหารจัดการ</p>
            <table width="80%" align="center" class="table2">
                <tr style="text-align: left;">
                    <td>
                        ใบรับรองมาตรฐานระบบการบริหารงานคุณภาพ
                    </td>
                    <td>
                        <label for="DocRef10">
                            <input type="checkbox" asp-for="DocRef10" id="DocRef10" name="DocRef10" class="checkbox2">
                            ISO 9001
                        </label>
                    </td>
                    <td>
                        <label for="DocRef11">
                            <input type="checkbox" asp-for="DocRef11" id="DocRef11" name="DocRef11" class="checkbox2">
                            IATF 16949
                        </label>
                    </td>
                </tr>
                <tr style="text-align: left;">
                    <td>
                        ใบรับรองมาตรฐานระบบการจัดการสิ่งแวดล้อม
                    </td>
                    <td>
                        <label for="DocRef12">
                            <input type="checkbox" asp-for="DocRef12" id="DocRef12" name="DocRef12" class="checkbox2">
                            ISO 14001
                        </label>
                    </td>
                    <td>
                        <label for="DocRef13">
                            <input type="checkbox" asp-for="DocRef13" id="DocRef13" name="DocRef13" class="checkbox2">
                            REACH
                        </label>
                    </td>
                </tr>
                <tr style="text-align: left;">
                    <td>
                        ใบรับรองมาตรฐานระบบการจัดการอาชีวอนามัยและความปลอดภัย
                    </td>
                    <td>
                        <label for="DocRef14">
                            <input type="checkbox" asp-for="DocRef14" id="DocRef14" name="DocRef14" class="checkbox2">
                            OHSAS 18001
                        </label>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr style="text-align: left;">
                    <td colspan="3">
                        <table width="100%" align="left">
                            <tr style="text-align: left;">
                                <td width="20%" style="padding:unset;">
                                    ใบรับรองมาตรฐานอื่นๆ
                                </td>
                                <td>
                                    <input type="text" class="form-control" asp-for="DocRef15" id="DocRef15" name="DocRef15" autocomplete="off">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <p>3. ระบบการผลิต</p>
            <table width="80%" align="center" class="table2">
                <tr style="text-align: left;vertical-align:bottom;">
                    <td>
                        <table width="100%" align="left">
                            <tr style="text-align: left;vertical-align:bottom;">
                                <td style="padding:unset;">
                                    <label for="DocRef16">
                                        <input type="checkbox" asp-for="DocRef16" id="DocRef16" name="DocRef16" class="checkbox2">
                                        กำลังการผลิต
                                    </label>
                                </td>
                                <td style="padding:unset;">
                                    <input type="text" class="form-control" asp-for="DocRef16_Desc" id="DocRef16_Desc" name="DocRef16_Desc" autocomplete="off" readonly>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <label for="DocRef19">
                            <input type="checkbox" asp-for="DocRef19" id="DocRef19" name="DocRef19" class="checkbox2">
                            ความสามารถในการออกแบบสินค้า
                        </label>
                    </td>
                </tr>
                <tr style="text-align: left">
                    <td>
                        <label for="DocRef17">
                            <input type="checkbox" asp-for="DocRef17" id="DocRef17" name="DocRef17" class="checkbox2">
                            แผนรองรับเหตุขัดข้อง (Contingency Plan)
                        </label>
                    </td>
                    <td>
                        <label for="DocRef20">
                            <input type="checkbox" asp-for="DocRef20" id="DocRef20" name="DocRef20" class="checkbox2">
                            ความสามารถในการออกแบบแก้ไขอุปกรณ์การผลิต
                        </label>
                    </td>
                </tr>
                <tr style="text-align: left">
                    <td>
                        <label for="DocRef18">
                            <input type="checkbox" asp-for="DocRef18" id="DocRef18" name="DocRef18" class="checkbox2">
                            การส่งต่อการผลิตให้ผู้รับจ้างช่วง (Outsource)
                        </label>
                    </td>
                    <td>
                        <label for="DocRef21">
                            <input type="checkbox" asp-for="DocRef21" id="DocRef21" name="DocRef21" class="checkbox2">
                            ความสามารถของกระบวนการ (Cpk, Ppk)
                        </label>
                    </td>
                </tr>
            </table>
            <p>4. ระบบโลจิสติกส์</p>
            <table width="80%" align="center" class="table2">
                <tr style="text-align: left;">
                    <td>
                        <label for="DocRef22">
                            <input type="checkbox" asp-for="DocRef22" id="DocRef22" name="DocRef22" class="checkbox2">
                            ขนส่งของบริษัทฯ
                        </label>
                    </td>
                    <td>
                        <label for="DocRef23">
                            <input type="checkbox" asp-for="DocRef23" id="DocRef23" name="DocRef23" class="checkbox2">
                            ว่าจ้างผู้รับจ้างช่วง (Outsource)
                        </label>
                    </td>
                </tr>
            </table>
        </div>
        <br />
        <div class="container2">
            <b>หมายเหตุ</b>
            <div class="input-group">
                <textarea asp-for="Remark" class="form-control" autocomplete="off" rows="2" style="white-space:normal;display:block;"></textarea>
            </div>
        </div>

        <br />
        <div class="container2">
            <b>Upload File</b>
            <div class="input-group">
                <input type="file" name="UploadFile_1" asp-for="UploadFile_1" multiple />
            </div>
        </div>

        <br />
        <table id="gridView" style="text-align:left;" width="50%" class="table table-hover"></table>
        <br />
        <br />
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="form-group">
                    <button type="submit" class="btn btn-success" onclick="return confirm('ต้องการแก้ไขข้อมูลใช่หรือไม่?')">
                        <i class="fa fa-check"></i>
                        Submit
                    </button>
                </div>
            </div>
        </div>
        <br />
    </form>

</div>

@section scripts {
    <script>
        var dataAreaID = "";

        $("#DataAreaId1").change(function () {
            if (this.checked) {
                document.getElementById("DataAreaId2").checked = false;
                $("#DataAreaId").val("dv");
            }
            else {
                document.getElementById("DataAreaId2").checked = false;
                $("#DataAreaId").val("");
            }
        });

        $("#DataAreaId2").change(function () {
            if (this.checked) {
                document.getElementById("DataAreaId1").checked = false
                $("#DataAreaId").val("dsc");
            }
            else {
                document.getElementById("DataAreaId1").checked = false;
                $("#DataAreaId").val("");
            }
        });
        function readOnlyTRUE() {
            document.getElementById("VenderIDNum").readOnly = true;
            document.getElementById("VenderName").readOnly = true;
            document.getElementById("Address").readOnly = true;
            document.getElementById("ContactName").readOnly = true;
            document.getElementById("Telephone").readOnly = true;
            document.getElementById("Fax").readOnly = true;
            document.getElementById("Email").readOnly = true;
            document.getElementById("Website").readOnly = true;
            document.getElementById("VenderGroup").disabled = true;
            document.getElementById("VenderType").disabled = true;
            document.getElementById("ProductType").disabled = true;
            document.getElementById("Currency").disabled = true;
            document.getElementById("Remark").readOnly = true;

            document.getElementById("DocRef1").disabled = true;
            document.getElementById("DocRef2").disabled = true;
            document.getElementById("DocRef3").disabled = true;
            document.getElementById("DocRef4").disabled = true;
            document.getElementById("DocRef5").disabled = true;
            document.getElementById("DocRef6").disabled = true;
            document.getElementById("DocRef7").disabled = true;
            document.getElementById("DocRef8").disabled = true;
            document.getElementById("DocRef9").disabled = true;
            document.getElementById("DocRef10").disabled = true;
            document.getElementById("DocRef11").disabled = true;
            document.getElementById("DocRef12").disabled = true;
            document.getElementById("DocRef13").disabled = true;
            document.getElementById("DocRef14").disabled = true;
            document.getElementById("DocRef15").disabled = true;
            document.getElementById("DocRef16").disabled = true;
            document.getElementById("DocRef17").disabled = true;
            document.getElementById("DocRef18").disabled = true;
            document.getElementById("DocRef19").disabled = true;
            document.getElementById("DocRef20").disabled = true;
            document.getElementById("DocRef21").disabled = true;
            document.getElementById("DocRef22").disabled = true;
            document.getElementById("DocRef23").disabled = true;

        }

        function readOnlyFALSE() {
            document.getElementById("VenderIDNum").readOnly = false;
            document.getElementById("VenderName").readOnly = false;
            document.getElementById("Address").readOnly = false;
            document.getElementById("ContactName").readOnly = false;
            document.getElementById("Telephone").readOnly = false;
            document.getElementById("Fax").readOnly = false;
            document.getElementById("Email").readOnly = false;
            document.getElementById("Website").readOnly = false;
            document.getElementById("VenderGroup").disabled = false;
            document.getElementById("VenderType").disabled = false;
            document.getElementById("ProductType").disabled = false;
            document.getElementById("Currency").disabled = false;
            document.getElementById("Remark").readOnly = false;

            document.getElementById("DocRef1").disabled = false;
            document.getElementById("DocRef2").disabled = false;
            document.getElementById("DocRef3").disabled = false;
            document.getElementById("DocRef4").disabled = false;
            document.getElementById("DocRef5").disabled = false;
            document.getElementById("DocRef6").disabled = false;
            document.getElementById("DocRef7").disabled = false;
            document.getElementById("DocRef8").disabled = false;
            document.getElementById("DocRef9").disabled = false;
            document.getElementById("DocRef10").disabled = false;
            document.getElementById("DocRef11").disabled = false;
            document.getElementById("DocRef12").disabled = false;
            document.getElementById("DocRef13").disabled = false;
            document.getElementById("DocRef14").disabled = false;
            document.getElementById("DocRef15").disabled = false;
            document.getElementById("DocRef16").disabled = false;
            document.getElementById("DocRef17").disabled = false;
            document.getElementById("DocRef18").disabled = false;
            document.getElementById("DocRef19").disabled = false;
            document.getElementById("DocRef20").disabled = false;
            document.getElementById("DocRef21").disabled = false;
            document.getElementById("DocRef22").disabled = false;
            document.getElementById("DocRef23").disabled = false;

        }

        $("#DocRef6").change(function () {
            if (this.checked) {
                document.getElementById("DocRef6_Desc").readOnly = false;
            }
            else {
                document.getElementById("DocRef6_Desc").readOnly = true;
                $("#DocRef6_Desc").val("-");
            }
        });

        $("#DocRef9").change(function () {
            if (this.checked) {
                document.getElementById("DocRef9_Desc").readOnly = false;
            }
            else {
                document.getElementById("DocRef9_Desc").readOnly = true;
                $("#DocRef9_Desc").val("-");
            }
        });

        $("#DocRef16").change(function () {
            if (this.checked) {
                document.getElementById("DocRef16_Desc").readOnly = false;
            }
            else {
                document.getElementById("DocRef16_Desc").readOnly = true;
                $("#DocRef16_Desc").val("-");
            }
        });

        $(document).ready(function () {
        var gridView = "#gridView";

            var dtView = $(gridView).DataTable({
                serverSide: false,
                processing: false,
                destroy: false,
                responsive: true,
                ajax: {
                    url: "/Vender/@Model.RequestID/Revise?handler=Grid&id=@Model.RequestID",
                    type: "post",
                    headers: {
                        "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                    }
                },
                columns: [
                    { title: "FILE NAME", data: "filename" },
                    { title: "UPLOADDATE", data: "uploaddate" },
                    { title: "Action", data: null }
                    //,{ title: "isActive?", data: "isactive" }
                ],
                columnDefs: [
                    {
                        targets: 2,
                        render: function (data, type, row)
                        {
                            var link = "";
                            link += "<button type='button' class='btn btn-danger' onclick='return del("+row.id+")'>DEL</button>";
                            return link;
                        },

                    }
                ]
            });

        });

        function del(id) {
            $.ajax({
                url: "/Vender/@Model.RequestID/Revise?handler=DelelteFile&Fileid=" + id,
                type: "get"
            }).done(function (data) {
                if (data == true) {
                    reloadGrid(gridView);
                }
            });

            return false;

        }
    </script>
}