@page
@model Web.UI.Pages.Promotion.AddDOMModel
@using Infrastructure.Models
@{
    ViewData["Title"] = "Add DOM";

    ViewData["Breadcrumb"] = new List<BreadcrumbModel> {
        new BreadcrumbModel { Text = "E-Form", Link = "javascript:void();" },
        new BreadcrumbModel { Text = "Promotion Discount", Link = "/Promotion" },
        new BreadcrumbModel { Text = "Add DOM" }
    };
}

<style>
    .overlay {
        background: #f9f6f3;
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.5;
    }
    .imgloading {
        position: absolute;
        left: 50%;
        top: 80%;
        width: 5%;
    }
    input[type=checkbox] {
        width: 20px;
        height: 20px;
    }
</style>

<div class="card">
    <div class="card-header">Promotion Discount (DOM)</div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data" id="form_submit">
        
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Promotion_DOM.Pattern">Search</label>
                        <input type="checkbox" id="searchRef" class="from-control">
                    </div>
                    <div id="formsearchRef">
                        <label asp-for="Promotion_DOM.PromotionRef">คัดลอก เอกสาร Promotion request เลขที่ </label>
                        <div class="input-group">
                            <select asp-for="Promotion_DOM.PromotionRef" asp-items="Model.PromotionTransMaster" class="form-control">
                                <option value="">--- เลือกรายการ ---</option>
                            </select>
                            <span class="text-danger" asp-validation-for="Promotion_DOM.PromotionRef"></span>
                            <span class="input-group-btn">
                                <button class="btn btn-outline-secondary" id="btnRef" type="button">Copy</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Promotion_DOM.TypeOfProduct">กลุ่มผลิตภัณฑ์ <span class="text-danger font-weight-bold">*</span></label>
                        <select asp-for="Promotion_DOM.TypeOfProduct" asp-items="Model.PromotionTypeByProductMaster" class="form-control">
                            <option value="">--- เลือกรายการ ---</option>
                        </select>
                        <span class="text-danger" asp-validation-for="Promotion_DOM.TypeOfProduct"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Promotion_DOM.Pattern">ชื่อเรื่อง </label>
                        <input type="text" asp-for="Promotion_DOM.Pattern" class="form-control" autocomplete="off"/>
                        <span class="text-danger" asp-validation-for="Promotion_DOM.Pattern"></span>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Promotion_DOM.CustomerName">ลูกค้า/Area </label>
                        <input type="text" asp-for="Promotion_DOM.CustomerName" class="form-control" autocomplete="off"/>
                        <span class="text-danger" asp-validation-for="Promotion_DOM.CustomerName"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Promotion_DOM.TypeOf">ประเภทโปรโมชั่น <span class="text-danger font-weight-bold">*</span></label>
                        <select asp-for="Promotion_DOM.TypeOf" asp-items="Model.PromotionTypeByMaster" class="form-control">
                            <option value="">--- เลือกรายการ ---</option>
                        </select>
                        <span class="text-danger" asp-validation-for="Promotion_DOM.TypeOf"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Promotion_DOM.TypeOfRemark">อื่นๆ </label>
                        <input type="text" asp-for="Promotion_DOM.TypeOfRemark" class="form-control"/>
                        <span class="text-danger" asp-validation-for="Promotion_DOM.TypeOfRemark"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Promotion_DOM.CustomerGroup">กลุ่มลูกค้า <span class="text-danger font-weight-bold">*</span></label>
                        <select asp-for="Promotion_DOM.CustomerGroup" asp-items="Model.PromotionGroupCustomerMaster" class="form-control">
                            <option value="">--- เลือกรายการ ---</option>
                        </select>
                        <span class="text-danger" asp-validation-for="Promotion_DOM.CustomerGroup"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Promotion_DOM.CustomerGroupRemark">ระบุ </label>
                        <input type="text" asp-for="Promotion_DOM.CustomerGroupRemark" class="form-control"/>
                        <span class="text-danger" asp-validation-for="Promotion_DOM.CustomerGroupRemark"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Promotion_DOM.PaymentType">เงื่อนไขการชำระเงิน</label>
                        <input type="text" asp-for="Promotion_DOM.PaymentType" class="form-control" autocomplete="off"/>
                        <span class="text-danger" asp-validation-for="Promotion_DOM.PaymentType"></span>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label asp-for="Promotion_DOM.FromDate">FromDate <span class="text-danger font-weight-bold">*</span></label>
                        <input type="text" asp-for="Promotion_DOM.FromDate" class="form-control" placeholder="FromDate" autocomplete="off" data-date-format="dd/MM/yyyy"/>
                        <span class="text-danger" asp-validation-for="Promotion_DOM.FromDate"></span>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label asp-for="Promotion_DOM.ToDate">ToDate</label>
                        <input type="text" asp-for="Promotion_DOM.ToDate" class="form-control" placeholder="ToDate" autocomplete="off" data-date-format="dd/MM/yyyy"/>
                        <span class="text-danger" asp-validation-for="Promotion_DOM.ToDate"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Promotion_DOM.TypeFrom">รูปแบบโปรโมชั่น <span class="text-danger font-weight-bold">*</span></label>
                        <select asp-for="Promotion_DOM.TypeFrom" asp-items="Model.PromotionTypeFromByMaster" class="form-control">
                            <option value="">--- เลือกรายการ ---</option>
                        </select>
                        <span class="text-danger" asp-validation-for="Promotion_DOM.TypeFrom"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Promotion_DOM.TypeFromRemark">อื่นๆ <span class="text-danger font-weight-bold">*</span></label>
                        <input type="text" asp-for="Promotion_DOM.TypeFromRemark" class="form-control"/>
                        <span class="text-danger" asp-validation-for="Promotion_DOM.TypeFromRemark"></span>
                    </div>
                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label asp-for="Promotion_DOM.Objective">วัตถุประสงค์ </label>
                        <textarea rows="4" class="form-control" asp-for="Promotion_DOM.Objective" autocomplete="off"></textarea>
                    </div>
                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col-12">
                    <label asp-for="Promotion_DOM.Objective">ประมาณการ </label>
                    <table class="table table-bordered">
                        <thead class="thead-light">
                            <tr>
                              <th scope="col">รายละเอียด</th>
                              <th scope="col">ยอดขายปัจจุบัน</th>
                              <th scope="col">ยอดขายประมาณการ</th>
                              <th scope="col">เปลี่ยนแปลง (%)</th>
                              <th scope="col">หมายเหตุ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">ยอดขาย(บาท)</th>
                                <td><input type="text" asp-for="Promotion_DOM.SalesPresentBath" class="form-control" onkeyup="this.value=addCommas(this.value);" autocomplete="off"/></td>
                                <td><input type="text" asp-for="Promotion_DOM.SalesForecastBath" class="form-control" onkeyup="this.value=addCommas(this.value);" autocomplete="off"/></td>
                                <td><input type="text" asp-for="Promotion_DOM.SalesChangeBath" class="form-control" onkeyup="this.value=addCommas(this.value);" autocomplete="off"/></td>
                                <td><input type="text" asp-for="Promotion_DOM.SalesRemarkBath" class="form-control" autocomplete="off" /></td>
                            </tr>
                            <tr>
                                <th scope="row">ยอดขาย(เส้น)</th>
                                <td><input type="text" asp-for="Promotion_DOM.SalesPresentQty" class="form-control" onkeyup="this.value=addCommas(this.value);" autocomplete="off"/></td>
                                <td><input type="text" asp-for="Promotion_DOM.SalesForecastQty" class="form-control" onkeyup="this.value=addCommas(this.value);" autocomplete="off"/></td>
                                <td><input type="text" asp-for="Promotion_DOM.SalesChangeQty" class="form-control" onkeyup="this.value=addCommas(this.value);" autocomplete="off"/></td>
                                <td><input type="text" asp-for="Promotion_DOM.SalesRemarkQty" class="form-control" autocomplete="off" /></td>
                            </tr>
                            <tr>
                                <th scope="row">งบประมาณโปรโมชั่น(บาท)</th>
                                <td><input type="text" asp-for="Promotion_DOM.BudgetPresent" class="form-control" onkeyup="this.value=addCommas(this.value);" autocomplete="off"/></td>
                                <td><input type="text" asp-for="Promotion_DOM.BudgetForecast" class="form-control" onkeyup="this.value=addCommas(this.value);" autocomplete="off"/></td>
                                <td><input type="text" asp-for="Promotion_DOM.BudgetChange" class="form-control"onkeyup="this.value=addCommas(this.value);" autocomplete="off"/></td>
                                <td><input type="text" asp-for="Promotion_DOM.BudgetRemark" class="form-control" autocomplete="off" /></td>
                            </tr>
                            <tr>
                                <th scope="row">งบประมาณต่อยอดขาย(%)</th>
                                <td><input type="text" asp-for="Promotion_DOM.BudgetPresentBath" class="form-control" onkeyup="this.value=addCommas(this.value);" autocomplete="off"/></td>
                                <td><input type="text" asp-for="Promotion_DOM.BudgetForecastBath" class="form-control" onkeyup="this.value=addCommas(this.value);" autocomplete="off"/></td>
                                <td><input type="text" asp-for="Promotion_DOM.BudgetChangeBath" class="form-control" autocomplete="off" readonly/></td>
                                <td><input type="text" asp-for="Promotion_DOM.BudgetRemarkBath" class="form-control" autocomplete="off" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col-12">
                    <label>เงื่อนไขโปรโมชั่น </label>
                    <table class="table table-borderless" width="100%">
                        <tr>
                            <td width="20%" align="center"> สินค้าจากรายการส่งเสริมการขายนี้จะ </td>
                            <td>
                                <select asp-for="Promotion_DOM.GetDiscount" class="form-control">
                                    <option value="">--- เลือกรายการ ---</option>
                                    <option value="1">ได้รับส่วนลดรายเดือน, ไตรมาส, ปี</option>
                                    <option value="0">ไม่ได้รับส่วนลดรายเดือน, ไตรมาส, ปี</option>
                                </select>
                                <span class="text-danger" asp-validation-for="Promotion_DOM.GetDiscount"></span>
                            </td>
                            <td>
                                <select asp-for="Promotion_DOM.GetPoint" class="form-control">
                                    <option value="">--- เลือกรายการ ---</option>
                                    <option value="1">ได้รับคะแนนสะสม</option>
                                    <option value="0">ไม่ได้รับคะแนนสะสม</option>
                                </select>
                                <span class="text-danger" asp-validation-for="Promotion_DOM.GetPoint"></span>
                            </td>
                            <td width="30%"></td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <textarea rows="5" class="form-control" asp-for="Promotion_DOM.PromotionConditions" autocomplete="off"></textarea>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            
            <hr>
            <div class="row">
                <div class="col-12">
                    <label>อื่นๆ </label>
                    <table class="table table-borderless" width="100%">
                        <tr>
                            <td width="3%"></td>
                            <td>เอกสารแนบ / เอกสารอ้างอิง</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>1.)</td>
                            <td><input type="text" asp-for="FileLeft_1" class="form-control form-control-sm" autocomplete="off"/></td>
                            <td><input type="file" name="UploadFileLeft_1" /></td>
                        </tr>
                        <tr>
                            <td>2.)</td>
                            <td><input type="text" asp-for="FileLeft_2" class="form-control form-control-sm" autocomplete="off"/></td>
                            <td><input type="file" name="UploadFileLeft_2" /></td>
                        </tr>
                        <tr>
                            <td>3.)</td>
                            <td><input type="text" asp-for="FileLeft_3" class="form-control form-control-sm" autocomplete="off"/></td>
                            <td><input type="file" name="UploadFileLeft_3" /></td>
                        </tr>
                    </table>
                </div>
            </div>

            @* <hr>
            <div class="row">
                <div class="col-12">
                    <label>อ้างอิง</label>
                    <table class="table table-borderless" width="100%">
                        <tr>
                            <td width="3%"></td>
                            <td>เอกสารแนบเดิม</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="2">
                                <div id="listFile"></div>
                            </td>

                        </tr>
                    </table>
                </div>
            </div> *@

            <div class="form-group d-flex justify-content-center align-items-center my-3">
                <input type="hidden" asp-for="TypeDOM" value="DOM"/>
                <button type="submit" class="btn btn-secondary mr-3" name="draft" value="draft">
                    <i class="fa fa-file"></i>
                    Save Draft
                </button>
                <button type="submit" class="btn btn-success mr-3" id="btn_submit" name="save" value="save">
                    <i class="fa fa-check"></i>
                    Send Approve
                </button>
                <button type="reset" class="btn btn-danger">
                    <i class="fa fa-times"></i>
                    Cancel
                </button>
            </div>

        </form>
    </div>
</div>

<div class="overlay container-fluid">
    <img class="imgloading" src="/images/loading.gif" alt="Loading..." />
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            
            $('#Promotion_DOM_Objective').keypress(function(e) {
                if (e.keyCode == 13) {
                    e.preventDefault();
                    this.value = this.value.substring(0, this.selectionStart) + "" + "\n" + this.value.substring(this.selectionEnd, this.value.length);
                }
            });
            
            $('#Promotion_DOM_PromotionConditions').keypress(function(e) {
                if (e.keyCode == 13) {
                    e.preventDefault();
                    this.value = this.value.substring(0, this.selectionStart) + "" + "\n" + this.value.substring(this.selectionEnd, this.value.length);
                }
            });

            $("#formsearchRef").hide();
            $("#Promotion_DOM_PromotionRef").val(0);
            $("#searchRef").on('change', function() {
                if ($(this).is(':checked')) {
                    $('#formsearchRef').show();
                } else {
                    $('#formsearchRef').hide();
                    $("#Promotion_DOM_PromotionRef").val(0);
                }
            });

            $("#Promotion_DOM_TypeOfRemark").attr("disabled", true);
            $("#Promotion_DOM_TypeOf").click(function() { 
                if($("#Promotion_DOM_TypeOf").val()==8){
                    $("#Promotion_DOM_TypeOfRemark").attr("disabled", false);
                }else{
                    $("#Promotion_DOM_TypeOfRemark").attr("disabled", true);
                    $("#Promotion_DOM_TypeOfRemark").val("");
                }
            });

            $("#Promotion_DOM_CustomerGroupRemark").attr("disabled", true);
            $("#Promotion_DOM_CustomerGroup").click(function() { 
                if($("#Promotion_DOM_CustomerGroup").val()==2){
                    $("#Promotion_DOM_CustomerGroupRemark").attr("disabled", false);
                }else{
                    $("#Promotion_DOM_CustomerGroupRemark").attr("disabled", true);
                    $("#Promotion_DOM_CustomerGroupRemark").val("");
                }
            });

            $("#Promotion_DOM_TypeFromRemark").attr("disabled", true);
            $("#Promotion_DOM_TypeFrom").click(function() { 
                if($("#Promotion_DOM_TypeFrom").val()==5){
                    $("#Promotion_DOM_TypeFromRemark").attr("disabled", false);
                }else{
                    $("#Promotion_DOM_TypeFromRemark").attr("disabled", true);
                    $("#Promotion_DOM_TypeFromRemark").val("");
                }
            });

            $("#Promotion_DOM_FromDate").datepicker();
            $("#Promotion_DOM_ToDate").datepicker();
            
            $("#form_submit").submit(function(e) {
                $(".overlay").show();
                $('#btn_submit').html("Submit...");
            });

            @* Bath *@
            $("#Promotion_DOM_SalesPresentBath").on("keyup", function (e) {
                var a = $("#Promotion_DOM_SalesPresentBath").val();
                var b = $("#Promotion_DOM_SalesForecastBath").val();
                var c = CalculateSale(a,b);
                $("#Promotion_DOM_SalesChangeBath").val(c);
            });

            $("#Promotion_DOM_SalesForecastBath").on("keyup", function (e) {
                var a = $("#Promotion_DOM_SalesPresentBath").val();
                var b = $("#Promotion_DOM_SalesForecastBath").val();
                var c = CalculateSale(a,b);
                $("#Promotion_DOM_SalesChangeBath").val(c);
            });

            @* Qty *@
            $("#Promotion_DOM_SalesPresentQty").on("keyup", function (e) {
                var a = $("#Promotion_DOM_SalesPresentQty").val();
                var b = $("#Promotion_DOM_SalesForecastQty").val();
                var c = CalculateSale(a,b);
                $("#Promotion_DOM_SalesChangeQty").val(c);
            });

            $("#Promotion_DOM_SalesForecastQty").on("keyup", function (e) {
                var a = $("#Promotion_DOM_SalesPresentQty").val();
                var b = $("#Promotion_DOM_SalesForecastQty").val();
                var c = CalculateSale(a,b);
                $("#Promotion_DOM_SalesChangeQty").val(c);
            });

            @* Budget *@
            $("#Promotion_DOM_BudgetPresent").on("keyup", function (e) {
                var a = $("#Promotion_DOM_BudgetPresent").val();
                var b = $("#Promotion_DOM_BudgetForecast").val();
                var e = $("#Promotion_DOM_SalesPresentBath").val();
                var c = CalculateBudgetBath(a,b);
                var d = CalculateBudgetBath(a,e);
                $("#Promotion_DOM_BudgetChange").val(c);
                $("#Promotion_DOM_BudgetPresentBath").val(d);
            });

            $("#Promotion_DOM_BudgetForecast").on("keyup", function (e) {
                var a = $("#Promotion_DOM_BudgetPresent").val();
                var b = $("#Promotion_DOM_BudgetForecast").val();
                var e = $("#Promotion_DOM_SalesForecastBath").val();
                var c = CalculateBudgetBath(a,b);
                var d = CalculateBudgetBath(b,e);
                $("#Promotion_DOM_BudgetChange").val(c);
                $("#Promotion_DOM_BudgetForecastBath").val(d);
            });

            $("#btnRef").click(function() { 
                var IdRef = $("#Promotion_DOM_PromotionRef").val();
                $.ajax({
                    url: "/Promotion/AddDOM?handler=PromotionRef",
                    type: "get",
                    data : {
                        IdRef : IdRef
                    }
                }).done(function (data) {
                    $("#Promotion_DOM_TypeOfProduct").val(data.typeOfProduct);
                    $("#Promotion_DOM_Pattern").val(data.pattern);
                    $("#Promotion_DOM_TypeOf").val(data.typeOf);
                    $("#Promotion_DOM_TypeOfRemark").val(data.typeOfRemark);
                    $("#Promotion_DOM_CustomerName").val(data.customerName);
                    $("#Promotion_DOM_CustomerGroup").val(data.customerGroup);
                    $("#Promotion_DOM_CustomerGroupRemark").val(data.customerGroupRemark);
                    $("#Promotion_DOM_PaymentType").val(data.paymentType);
                    $("#Promotion_DOM_FromDate").val(data.fromDate);
                    $("#Promotion_DOM_ToDate").val(data.toDate);
                    $("#Promotion_DOM_TypeFrom").val(data.typeFrom);
                    $("#Promotion_DOM_TypeFromRemark").val(data.typeFromRemark);
                    $("#Promotion_DOM_Objective").val(data.objective);
                    $("#Promotion_DOM_SalesPresentBath").val(data.salesPresentBath);
                    $("#Promotion_DOM_SalesForecastBath").val(data.salesForecastBath);
                    $("#Promotion_DOM_SalesChangeBath").val(data.salesChangeBath);
                    $("#Promotion_DOM_SalesRemarkBath").val(data.salesRemarkBath);
                    $("#Promotion_DOM_SalesPresentQty").val(data.salesPresentQty);
                    $("#Promotion_DOM_SalesForecastQty").val(data.salesForecastQty);
                    $("#Promotion_DOM_SalesChangeQty").val(data.salesChangeQty);
                    $("#Promotion_DOM_SalesRemarkQty").val(data.salesRemarkQty);
                    $("#Promotion_DOM_BudgetPresent").val(data.budgetPresent);
                    $("#Promotion_DOM_BudgetForecast").val(data.budgetForecast);
                    $("#Promotion_DOM_BudgetChange").val(data.budgetChange);
                    $("#Promotion_DOM_BudgetRemark").val(data.budgetRemark);
                    $("#Promotion_DOM_BudgetPresentBath").val(data.budgetPresentBath);
                    $("#Promotion_DOM_BudgetForecastBath").val(data.budgetForecastBath);
                    $("#Promotion_DOM_BudgetChangeBath").val(data.budgetChangeBath);
                    $("#Promotion_DOM_BudgetRemarkBath").val(data.budgetRemarkBath);
                    $("#Promotion_DOM_GetDiscount").val(data.getDiscount);
                    $("#Promotion_DOM_GetPoint").val(data.getPoint);
                    $("#Promotion_DOM_PromotionConditions").val(data.promotionConditions);
                    $("#listFile").html(data.listFile);
                });
            });

            $("body").on("keypress", function (e) {
                if (e.which === 13) e.preventDefault();
            });
        });

        function CalculateSale(a,b){
            a = parseFloat(a.replace(/[^\d\.\-]/g, ""));
            b = parseFloat(b.replace(/[^\d\.\-]/g, ""));
            var changerate = ((b-a)/a)*100;
            var result = changerate.toFixed(2);
            return result;
        }

        function CalculateBudgetBath(a,b){
            a = parseFloat(a.replace(/[^\d\.\-]/g, ""));
            b = parseFloat(b.replace(/[^\d\.\-]/g, ""));
            var changerate = (a/b)*100;
            var result = changerate.toFixed(2);
            return result;
        }

        function addCommas(Num) {
            Num += '';
            Num = Num.replace(/,/g, '');

            x = Num.split('.');
            x1 = x[0];
            x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1))
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
            return x1 + x2;
        }

    </script>
}