@page "/FixAssets/ItApi/{nonce}/{employee}/{emailid}/{compcode}"
@model Web.UI.Pages.FixAssets.ItApi.ActionModel
@using Infrastructure.Models
@using Interfaces
@inject IAuthService authService
@{
    Layout = "_LayoutAssets";
}
@{
    ViewData["Title"] = "FixAssets";
}

<h3>
    Hello
</h3>

