@page "/User/{id}/ResetPassword"
@model Web.UI.Pages.User.ResetPasswordModel

@using Infrastructure.Models

@{
    ViewData["Title"] = "Reset Password";

    ViewData["Breadcrumb"] = new List<BreadcrumbModel> {
        new BreadcrumbModel { Text = "Dashboard", Link = "javascript:void();" },
        new BreadcrumbModel { Text = "User", Link = "/User" },
        new BreadcrumbModel { Text = "Reset Password" }
    };
}


<div class="d-flex justify-content-between align-items-center my-3">
    <h1>Reset Password</h1>
</div>
        
<div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12">
        <form method="post">
            <div class="form-group">
                <label asp-for="NewPassword">New Password</label>
                <input type="password" asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmNewPassword">Confirm New Password</label>
                <input type="password" asp-for="ConfirmNewPassword" class="form-control" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-check"></i>
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>