@page
@model Web.UI.Pages.Purchase.Import.MarketSubgroupModel

@using Infrastructure.Models

@{
    ViewData["Title"] = "Market Subgroup";

    ViewData["Breadcrumb"] = new List<BreadcrumbModel> {
    new BreadcrumbModel { Text = "Import", Link = "javascript:void();" },
    new BreadcrumbModel { Text = "Import Market Subgroup" }
  };
}

<div class="card">
    <div class="card-header">
        Market Subgroup
    </div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="TemplateUpload" />

            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>