@page
@model Web.UI.Pages.Memo.IndexModel
@using Infrastructure.Models
@{
    ViewData["Title"] = "Memo";

    ViewData["Breadcrumb"] = new List<BreadcrumbModel> {
        new BreadcrumbModel { Text = "E-Form", Link = "javascript:void();" },
        new BreadcrumbModel { Text = "Memo"}
    };
}

<div class="card">
    <div class="card-header">
        Memo
    </div>
    <div class="card-body overflow-auto">
        <form method="post">
            <table id="gridMemo" class="table table-hover"></table>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {

            var gridMemo = "#gridMemo";

            var dtPromotion = $(gridMemo).DataTable({
                serverSide: false,
                processing: false,
                destroy: true,
                responsive: false,
                ajax: {
                    url: "/Memo/Index?handler=Grid",
                    type: "post",
                    headers: {
                        "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                    }
                },
                initComplete: function () {
                    $('.dataTables_filter input').unbind();
                    $('.dataTables_filter input').on("keyup", function (e) {
                        if (e.keyCode == 13) {
                            dtPromotion.search($(this).val()).draw();
                        }
                    });
                },
                columns: [
                    { title: "Memo Number", data: "memoNumber" },
                    { title: "Memo Date", data: "memoDate" },
                    { title: "Subject", data: "memoSubject" },
                    { title: "Attn", data: "memoAttn"},
                    { title: "Customer Code", data: "customerCode" },
                    @* { title: "Customer Name", data: "customerName" }, *@
                    { title: "Report", data: null }
                ],
                columnDefs: [
                    {
                        targets: 5,
                        render: function (data, type, row) {
                            var link = "";
                            link += actionLinkBlank("/Memo/Export/Report/" + row.id + "?handler=PDF", "fa fa-print", "Print", true);
                            link += actionLink("/Memo/" + row.id + "/Edit", "fa fa-edit", "Edit");
                            return link;
                        }
                    }
                ]
            });

            $("body").on("keypress", function (e) {
                if (e.which === 13) e.preventDefault();
            });

        });

    </script>
}
