@page "/Queing/Process/{Plant}/Process"
@model Web.UI.Pages.Queing.Process.ProcessModel
@using Infrastructure.Models
@{
    Layout = "_LayoutQueing";
}
@{
    ViewData["Title"] = "Queing Process";
    ViewData["Plant"] = Model.PlantView;
    ViewData["status"] = "0";

    ViewData["Breadcrumb"] = new List<BreadcrumbModel> {
        new BreadcrumbModel { Text = "Home", Link = "/Queing/Home" },
        new BreadcrumbModel { Text = "Company", Link = "/Queing/Process" },
        new BreadcrumbModel { Text = "Process" }
    };
}
<style>
    .container2 {
        border-radius: 5px;
        background-color: white;
        padding: 15px;
    }

    .overlay {
        background: #f9f6f3;
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.5;
    }

    .imgloading {
        position: absolute;
        left: 50%;
        top: 80%;
        width: 5%;
    }

    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>

<form method="post" enctype="multipart/form-data" id="form_submit">

    <div class="container2">
        <br />
        <div class="row row-cols-1 row-cols-md-2">

            <div class="col mb-4">
                <div class="card text-center text-black bg-warning mb-3" style="max-width: 15rem;">
                    <a href="/Queing/Process/OVS/@Model.Plant/Index" class="card-body btn btn-warning">
                        <h1 class="card-title">
                            <i class="fa fa-ship"></i>
                        </h1>
                        <b class="card-text">
                            Oversea (OVS)
                        </b>
                    </a>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card text-center text-black bg-warning mb-3" style="max-width: 15rem;">
                    <a href="#" class="card-body btn btn-warning">
                        @* /Queing/Process/DOM/@Model.Plant/Index *@
                        <h1 class="card-title">
                            <i class="fa fa-truck"></i>
                        </h1>
                        <b class="card-text">
                            Domestic (DOM)
                        </b>
                    </a>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card text-center text-black bg-warning mb-3" style="max-width: 15rem;">
                    <a href="#" class="card-body btn btn-warning">
                        @*/Queing/Dashboard/Index*@
                        <h1 class="card-title">
                            <i class="fa fa-tachometer"></i>
                        </h1>
                        <b class="card-text">
                            Dashboard
                        </b>
                    </a>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card text-center text-black bg-warning mb-3" style="max-width: 15rem;">
                    <a href="#" class="card-body btn btn-warning">
                        @*/Queing/Report/@Model.Plant/Index*@
                        <h1 class="card-title">
                            <i class="fa fa-file"></i>
                        </h1>
                        <b class="card-text">
                            Report
                        </b>
                    </a>
                </div>
            </div>
        </div>

        <br />
        <div class="row">
            <a href="/Queing/Process" class="btn btn-light">
                <i class="fa fa-reply"></i> Back
            </a>
        </div>

    </div>
</form>


@*Loading*@
<div class="overlay container-fluid">
    <img class="imgloading" src="/images/loading.gif" alt="Loading..." />
</div>


@section Scripts {
    <script>

        $("#form_submit").submit(function (e) {

            $(".overlay").show();
            $('#btn_submit').html("Loading...");
        });



    </script>
}
