@page "/Planing/{year}/{month}/LineSOD"
@model Web.UI.Pages.Planing.LineSODModel
@using Infrastructure.Models
@{
    ViewData["Title"] = "Line Template SOD For AOT";

    ViewData["Breadcrumb"] = new List<BreadcrumbModel> {
        new BreadcrumbModel { Text = "TicketBlock", Link = "javascript:void();" },
        new BreadcrumbModel { Text = "Master SOD For AOT", Link = "/Planing/IndexSOD" },
        new BreadcrumbModel { Text = "Line Template SOD For AOT"}
    };
}

<div class="card">
    <div class="card-header">
        Line Template BP
    </div>
    <div class="card-body overflow-auto">
        <form method="post">
            <table id="gridLineSOD" class="table table-hover"></table>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {

            var gridLineSOD = "#gridLineSOD";

            var dtCreditControl = $(gridLineSOD).DataTable({
                serverSide: false,
                processing: false,
                destroy: true,
                responsive: false,
                ajax: {
                    url: "/Planing/@Model.Year/@Model.Month/LineSOD?handler=Grid&year=@Model.Year&month=@Model.Month",
                    type: "post",
                    headers: {
                        "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                    }
                },
                initComplete: function () {
                    $('.dataTables_filter input').unbind();
                    $('.dataTables_filter input').on("keyup", function (e) {
                        if (e.keyCode == 13) {
                            dtCreditControl.search($(this).val()).draw();
                        }
                    });
                },
                columns: [
                    { title: "Year", data: "year" },
                    { title: "Month", data: "month" },
                    { title: "RequestQTY", data: "requestQTY" },
                    { title: "ConfirmQTY", data: "confirmQTY" },
                    { title: "Custcode", data: "custcode" },
                    { title: "Itemid", data: "itemid" },
                    { title: "Cango", data: "cango" },
                    { title: "Out", data: "out" },
                    { title: "CreateBy", data: "createName" },
                    { title: "CreateDate", data: "createDate" }
                ],
                columnDefs: [
                ]
            });

        });
    </script>
}
