@page
@model Web.UI.Pages.CreditControl.ApproveMaster.IndexModel

@using Infrastructure.Models

@{
    ViewData["Title"] = "Approve Master";

    ViewData["Breadcrumb"] = new List<BreadcrumbModel> {
        new BreadcrumbModel { Text = "E-Form", Link = "javascript:void();" },
        new BreadcrumbModel { Text = "Credit Control", Link = "/CreditControl" },
        new BreadcrumbModel { Text = "Approve Master" }
    };
}

<div class="card">
    <div class="card-header">
        Approve Master
    </div>
    <div class="card-body overflow-auto">
        <div class="mb-3">
            <a href="/CreditControl/ApproveMaster/Add" class="btn btn-primary mr-2 mb-2">
                <i class="fa fa-plus"></i> Add
            </a>
        </div>
        <form method="post">
            <table id="gridApproveMaster" width="100%" class="table table-hover"></table>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {

            var gridId = "#gridApproveMaster";

            var dt = $(gridId).DataTable({
                serverSide: false,
                processing: false,
                destroy: true,
                ajax: {
                    url: "/CreditControl/ApproveMaster?handler=Grid",
                    type: "post",
                    headers: {
                        "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                    }
                },
                initComplete: function () {
                    $('.dataTables_filter input').unbind();
                    $('.dataTables_filter input').on("keyup", function (e) {
                        if (e.keyCode == 13) {
                            dt.search($(this).val()).draw();
                        }
                    });
                },
                columns: [
                    { title: "Id", data: "id" },
                    { title: "Group Description", data: "groupDescription" },
                    { title: "Active", data: "isActive" },
                    { title: "Actions", data: null }
                ],
                columnDefs: [
                    {
                        targets: 2,
                        render: function (data, type, row) {
                            if (data === 1) {
                                return "<span class='badge badge-success'>Enable</span>";
                            }

                            if (data === 0) {
                                return "<span class='badge badge-danger'>Disable</span>";
                            }
                        }
                    },
                    {
                        targets: 3,
                        sortable: false,
                        render: function (data, type, row) {
                            var link = "";
                            link += actionLink("/CreditControl/ApproveMaster/" + row.id + "/Edit", "fa fa-edit", "Edit");
                            link += actionLink("/CreditControl/ApproveFlow/" + row.id + "/View", "fa fa-eye", "Approve Flow");
                            link += actionLink("/CreditControl/ApproveMaster?handler=Delete&id=" + row.id, "fa fa-edit", "Delete");
                            return link;
                        }
                    }
                ],
            });


            $("body").on("keypress", function (e) {
                if (e.which === 13) e.preventDefault();
            });
        });
    </script>
}