@page
@model Web.UI.Pages.S2E.Report.StockCardModel
@using Infrastructure.Models
@{
    ViewData["Title"] = "Stock Card";

    ViewData["Breadcrumb"] = new List<BreadcrumbModel> {
        new BreadcrumbModel { Text = "S2E", Link = "javascript:void();" },
        new BreadcrumbModel { Text = "Stock Card" }
    };
}

<style>
    td {
        padding: 5px;
    }

    .container2 {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 10px;
    }
</style>

<div class="d-flex justify-content-between align-items-center my-3">
    <h3>Report Stock Card (รายงานเฉพาะการเบิก-จ่าย ของสโตร์)</h3>
</div>

<div>
    <form method="post" enctype="multipart/form-data">
        <table width="100%">
            <tr>
                <td>
                    <button type="button" class="btn btn-success" id="btnExport" name="btnExport"
                            onclick="window.location.href = '/S2E/Template/ExportReportStockCard?handler=DownloadReportStockCardExcel';">
                        <i class="fa fa-file-excel-o"></i>  Export
                    </button>
                </td>
            </tr>
        </table>
        <br />
        <table id="gridList" width="100%" align="left" class="table table-hover" style="font-size: 15px;"></table>
    </form>
</div>

@section Scripts {
    <script>

        $(document).ready(function () {

            var gridList = "#gridList";
            var tmpQtyCal = 0;
            $(gridList).DataTable({
                serverSide: true,
                processing: true,
                destroy: true,
                responsive: false,
                searching: false,
                "scrollX": true,
             /*   "order": [[12, 'asc'], [13, "asc"]],*/
                ajax: {
                    url: "/S2E/Report/StockCard?handler=Grid",
                    type: "post",
                    headers: {
                        "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                    }
                },
                columns: [
                    { title: "Posting Date", data: "postingdate" },
                    { title: "S2E.No.", data: "requestcode" },
                    { title: "Doc.No.", data: "docno" },
                    { title: "Plant", data: "plant" },
                    { title: "User", data: "requestby" },
                    { title: "Movement", data: "movement" },
                    { title: "Sample type", data: "sampletype" },
                    { title: "Item.No.", data: "itemcode" },
                    { title: "Item.Name", data: "itemname" },
                    { title: "Qty", data: "qty" },
                    { title: "Unit", data: "unit" },
                    { title: "Bal.Qty", data: null }
                ],
                columnDefs: [
                    {
                        targets: 11,
                        render: function (data, type, row) {
                            if (data.movement == 'IN') {
                                tmpQtyCal = data.qty;
                            }
                            else{
                                tmpQtyCal = tmpQtyCal - data.qty;
                            }
                            return tmpQtyCal;
                        }
                    }
                ],
            });
        });

    </script>
}